# Capston Project : 
    Phase 1 (a)

# My Work ideas :

In [126]:
# 1. First I will calculate the total of each crime of 2001 and 2012 ( for some datasets 2001 and 2010)  for each state .
# 2. Then I will find the growth/decrease of each crime in percentage (%) from 2001 to 2012 for each state .
# 3. Then I will compare the crime growth/decrease with Population growth/decrease ,Poverty rate growth/decrease and Literacy rate growth/decrease. 
# 4. Similarly I will do that for Population , Literacy rate and Poverty rate also 
# 5. I will do the same thing for Female literacy  rate and Child labour also for crimes_against_woman and crimes against children dataset respectively

In [127]:
# By doing this , I will get to know How crimes are growing or decreasing in this interval of time 
# and same thing for  population , poverty and literacy rate also 

# In checking the correlation in Tableau , if I do not get the correlation between the crime's growth and other factors , then that means 
# some other factors were responsible for the growth/decrease of crime for that particular state in this interval of time (2001-2012)

# Data collection :

In [128]:
# I have collected all this below data from google .

# States :

In [1]:
#        'A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM',
#        'BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI',
#        'DAMAN & DIU',DELHI, 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
#        'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
#        'LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR',
#        'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY',
#        'PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA',
#        'UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL'

# Population (2001 , 2012):

In [1]:
# Population of each state of the above in 2001 :
population_of_2001 = [356152,76200000,1098000,26655528, 82998509,
                      900635,20833803,220490,158204,13850507,1343998,
                      41310000,21144564,6077900, 10143700,26945829,
                      52850562,31841374,60650,60348203,96878627,
                      2293896,2318822,888573,1990036,36800000,
                      974345,24358999,68548437,540493,62405679,
                      3199203,166197921,8489349,80176192]

In [2]:
# Population of each state of the above in 2012 :
population_of_2012 = [381174, 85000000,1403000,31169272,103804637,
                      995000,25540196,350000,195000,16896984,1457723,
                      60383628,25353081,6856509,12548926,32966238,
                      61130704,33387677,65000,72597565,112372972,
                      2721756,2964007,1091014,1980602,41947358,
                      681000,27704236,68621012,607688,72138958,
                      3671037,199581477,10116752,91347736]

# Literacy rate (2001 , 2012) :

In [3]:
# Literacy rate of each state in 2001 :
literacy_rate_2001 = [81.30, 60.47, 54.30,63.30,47.00,
                      81.90,64.70,57.60,78.20,81.67,82.00,
                      69.10,57.90,76.50,55.50,53.60,
                      66.60,90.90,86.70,63.70,76.90,
                      70.50,62.50,88.80,66.60,63.10,
                      81.20,69.70,60.10,68.80,73.50,
                      73.20,56.30,71.60,68.60]

In [4]:
# Literacy rate of each state in 2012 :
literacy_rate_2012 = [86.6,67.7,67,73.3,63.8,
                      86.4,71,77.7,87.1,86.3,
                      87.4,79.3,76.6,83.8,68.7,
                      67.6,75.6,93.9,92.2,70.6,
                      82.9,79.8,75.5,91.6,80.1,
                      73.5,86.5,76.7,67.1,82.2,
                      80.3,87.8,69.7,79.6,77.1]

# Poverty rate (2001 , 2012):

In [5]:
# Poverty rate of each state in 2001 :
Poverty_rate_2001 = [0.36, 4.19, 22.60, 35.32, 42.60,
                     5.0, 40.20, 17.14, 34.20, 25.00, 9.90, 
                     33.00, 24.11, 23.00, 19.56, 47.00,
                     31.00, 20.80, 1.60, 35.00,24.00,
                     49.96, 50.00, 53.00, 17.00,47.15,
                     20.88, 17.00, 19.85, 36.55, 22.00,
                     55.00, 40.00, 34.00, 40.00]

In [6]:
# Poverty rate of each state 2012 :
Poverty_rate_2012 = [1.57, 9.2, 34.70, 31.98, 33.70,
                     21.81, 39.93, 17.14, 5.09 ,9.91, 5.09,
                     16.60, 11.20, 8.10, 10.30, 37.00,
                     20.90, 7.10, 2.77,31.60, 17.40,
                     36.90, 11.90, 20.40,18.90, 32.60,
                     15.00, 8.30, 14.70, 8.20, 11.30,
                     14.00, 29.40, 11.30, 20.00 ]

# Child labours (2001 , 2012):

In [7]:
# No. of child labours in each state in 2001 :
Child_labour_2001 = [1960,1363339,18482,351416,1117500,
                     3779,364572,4274,729,41899,4138,
                     485530,253491,107774,175630,407200,
                     822615,26156,27,1065259,764075,
                     28836,53940,26265,45874,377594,
                     1904,177268,1262570,16457,418801,
                     21756,1927997,70183,857087]

In [8]:
# No. of child labours in each state in 2012 :
Child_labour_2012 = [999,404851,5766,99512,451590,
                     3135,63884,1054,774,36000,6920,
                     250318,53492,15001,25528,90996,
                     249432,21757,28,286310,496916,
                     11805,18839,2793,11062,92087,
                     1421,90353,252338,2704,151437,
                     4998,896301,28098,234275]

# Female literacy rate (2001 , 2012):

In [9]:
# Female literacy rate in each state in 2001 :
Female_literacy_rate_2001 = [75.24, 50.43, 59.57, 54.61, 33.57,
                             81.19, 52.40, 40.23, 65.61, 33.12 ,
                             57.80, 55.73, 67.42, 43.00, 38.87,
                             56.90, 87.86, 80.47, 50.29, 67.00, 
                             57.29, 62.50, 86.75, 61.46, 50.51,
                             73.90, 63.55, 43.85, 60.41, 64.91,
                             64.90, 42.22, 60.00, 54.20 ]

In [10]:
# Female literacy rate in each state in 2012 :
Female_literacy_rate_2012 = [86.30, 67.00,  57.70, 66.27, 53.57,
                             81.88, 60.24, 65.46, 79.59, 75.51,
                             48.60,  65.94, 83.78, 58.01, 55.42, 
                             68.13, 90.00, 88.50, 48.49, 69.87,
                             73.17, 65.46, 89.4, 76.69, 64.01, 
                             65.46, 70.70, 52.66, 80.00, 73.40,
                             65.46, 50.60, 69.40, 95.00]

# Now work on each datasets :

In [11]:
import pandas as pd
import numpy as np

# 1) District_wise_crimes_committed_IPC_2001_2012

In [19]:
df_1 = pd.read_csv('01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [20]:
df_1

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [21]:
New_df_1 = df_1[df_1['DISTRICT']=='TOTAL']
New_df_1

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
28,ANDHRA PRADESH,TOTAL,2001,2602,1555,136,871,0,871,1182,...,872,34947,420,3544,2271,5791,7,7400,34344,130089
42,ARUNACHAL PRADESH,TOTAL,2001,83,53,3,33,0,33,83,...,13,466,0,78,3,11,0,0,618,2342
70,ASSAM,TOTAL,2001,1356,481,40,817,0,817,1480,...,441,5805,59,850,4,1248,0,2010,9315,36877
115,BIHAR,TOTAL,2001,3643,3419,250,888,0,888,2159,...,502,7544,859,562,21,1558,83,2406,36667,88432
135,CHHATTISGARH,TOTAL,2001,880,529,45,959,0,959,207,...,215,5477,70,1763,161,840,0,689,15790,38460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8988,CHANDIGARH,TOTAL,2012,21,44,5,27,0,27,87,...,9,42,5,45,25,73,0,3,1042,3606
8990,D & N HAVELI,TOTAL,2012,7,2,0,3,0,3,13,...,12,25,0,2,0,0,0,23,112,318
8993,DAMAN & DIU,TOTAL,2012,3,5,0,5,0,5,3,...,11,17,0,0,0,3,0,38,46,239
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [22]:
New_df_1 = New_df_1.sort_values(by = ['STATE/UT'])
New_df_1

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
7384,A & N ISLANDS,TOTAL,2010,9,7,4,24,0,24,10,...,12,80,0,31,10,9,0,9,489,980
8986,A & N ISLANDS,TOTAL,2012,15,3,0,12,0,12,8,...,4,62,2,17,4,5,0,6,351,683
1409,A & N ISLANDS,TOTAL,2002,17,3,1,2,0,2,2,...,2,97,0,17,3,4,0,0,328,608
691,A & N ISLANDS,TOTAL,2001,13,0,0,3,0,3,2,...,4,118,0,19,1,9,0,0,323,658
5838,A & N ISLANDS,TOTAL,2008,8,11,2,12,0,12,17,...,15,107,2,24,3,26,0,4,383,882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8172,WEST BENGAL,TOTAL,2011,2109,2242,486,2363,0,2363,4285,...,413,13094,510,2363,200,19772,0,3249,56614,143197
688,WEST BENGAL,TOTAL,2001,1594,449,581,709,0,709,875,...,102,3658,265,954,48,3859,3,2281,25260,61563
2135,WEST BENGAL,TOTAL,2003,1425,400,484,1002,0,1002,902,...,87,4172,329,1186,71,4948,1,2300,24553,61174
7381,WEST BENGAL,TOTAL,2010,2398,2111,630,2311,0,2311,3345,...,331,12764,507,2465,163,17796,8,2847,49096,129616
2864,WEST BENGAL,TOTAL,2004,1425,390,468,1475,0,1475,1200,...,103,3867,396,1566,64,6334,12,2995,27426,69350

In [23]:
M_df_1 = New_df_1[['STATE/UT',	'DISTRICT',	'YEAR', 'TOTAL IPC CRIMES']]
M_df_1

           STATE/UT DISTRICT  YEAR  TOTAL IPC CRIMES
7384  A & N ISLANDS    TOTAL  2010               980
8986  A & N ISLANDS    TOTAL  2012               683
1409  A & N ISLANDS    TOTAL  2002               608
691   A & N ISLANDS    TOTAL  2001               658
5838  A & N ISLANDS    TOTAL  2008               882
...             ...      ...   ...               ...
8172    WEST BENGAL    TOTAL  2011            143197
688     WEST BENGAL    TOTAL  2001             61563
2135    WEST BENGAL    TOTAL  2003             61174
7381    WEST BENGAL    TOTAL  2010            129616
2864    WEST BENGAL    TOTAL  2004             69350

[408 rows x 4 columns]

In [24]:
Modified_df_1 = M_df_1[M_df_1['YEAR'].isin([2001 , 2012])]
Modified_df_1 = Modified_df_1.drop('DISTRICT' , axis = 1)
Modified_df_1

               STATE/UT  YEAR  TOTAL IPC CRIMES
8986      A & N ISLANDS  2012               683
691       A & N ISLANDS  2001               658
8239     ANDHRA PRADESH  2012            192522
28       ANDHRA PRADESH  2001            130089
8257  ARUNACHAL PRADESH  2012              2420
...                 ...   ...               ...
650       UTTAR PRADESH  2001            178129
8952        UTTARAKHAND  2012              8882
664         UTTARAKHAND  2001              8073
8982        WEST BENGAL  2012            161427
688         WEST BENGAL  2001             61563

[68 rows x 3 columns]

In [25]:
reshaped_df_1 = Modified_df_1.pivot_table(values='TOTAL IPC CRIMES', index='STATE/UT', columns='YEAR', aggfunc=sum)
reshaped_df_1

YEAR                 2001    2012
STATE/UT
A & N ISLANDS         658     683
ANDHRA PRADESH     130089  192522
ARUNACHAL PRADESH    2342    2420
ASSAM               36877   77682
BIHAR               88432  146614
CHANDIGARH           3397    3606
CHHATTISGARH        38460   54598
D & N HAVELI          350     318
DAMAN & DIU           239     239
GOA                  2341    3608
GUJARAT            103419  130121
HARYANA             38759   62480
HIMACHAL PRADESH    11499   12557
JAMMU & KASHMIR     19505   24608
JHARKHAND           25447   40946
KARNATAKA          109098  134021
KERALA             103847  158989
LAKSHADWEEP            36      60
MADHYA PRADESH     181741  220335
MAHARASHTRA        171233  202700
MANIPUR              2489    3737
MEGHALAYA            1687    2557
MIZORAM              2246    1766
NAGALAND             1234    1090
ODISHA              46661   67957
PUDUCHERRY           4068    4281
PUNJAB              27774   35790
RAJASTHAN          155185  170948
SIKKIM                444     528
TAMIL NADU         154801  200474
TRIPURA              2801    6264
UTTAR PRADESH      178129  198093
UTTARAKHAND          8073    8882
WEST BENGAL         61563  161427

In [26]:
reshaped_df_1['2001 total IPC crimes'] = reshaped_df_1[2001]
reshaped_df_1.drop(2001, axis=1, inplace=True)

reshaped_df_1['2012 total IPC crimes'] = reshaped_df_1[2012]
reshaped_df_1.drop(2012, axis=1, inplace=True)

In [27]:
reshaped_df_1

YEAR               2001 total IPC crimes  2012 total IPC crimes
STATE/UT
A & N ISLANDS                        658                    683
ANDHRA PRADESH                    130089                 192522
ARUNACHAL PRADESH                   2342                   2420
ASSAM                              36877                  77682
BIHAR                              88432                 146614
CHANDIGARH                          3397                   3606
CHHATTISGARH                       38460                  54598
D & N HAVELI                         350                    318
DAMAN & DIU                          239                    239
GOA                                 2341                   3608
GUJARAT                           103419                 130121
HARYANA                            38759                  62480
HIMACHAL PRADESH                   11499                  12557
JAMMU & KASHMIR                    19505                  24608
JHARKHAND                          25447                  40946
KARNATAKA                         109098                 134021
KERALA                            103847                 158989
LAKSHADWEEP                           36                     60
MADHYA PRADESH                    181741                 220335
MAHARASHTRA                       171233                 202700
MANIPUR                             2489                   3737
MEGHALAYA                           1687                   2557
MIZORAM                             2246                   1766
NAGALAND                            1234                   1090
ODISHA                             46661                  67957
PUDUCHERRY                          4068                   4281
PUNJAB                             27774                  35790
RAJASTHAN                         155185                 170948
SIKKIM                               444                    528
TAMIL NADU                        154801                 200474
TRIPURA                             2801                   6264
UTTAR PRADESH                     178129                 198093
UTTARAKHAND                         8073                   8882
WEST BENGAL                        61563                 161427

In [ ]:
Here , I have got that the DELHI is not present . Hence , I have made separet lists of data  for this dataset

In [105]:
population_of_2001_state = [356152,76200000,1098000,26655528, 82998509,
                      900635,20833803,220490,158204,1343998,
                      41310000,21144564,6077900, 10143700,26945829,
                      52850562,31841374,60650,60348203,96878627,
                      2293896,2318822,888573,1990036,36800000,
                      974345,24358999,68548437,540493,62405679,
                      3199203,166197921,8489349,80176192]

population_of_2012_state = [381174, 85000000,1403000,31169272,103804637,
                      995000,25540196,350000,195000,1457723,
                      60383628,25353081,6856509,12548926,32966238,
                      61130704,33387677,65000,72597565,112372972,
                      2721756,2964007,1091014,1980602,41947358,
                      681000,27704236,68621012,607688,72138958,
                      3671037,199581477,10116752,91347736]

literacy_rate_2001_state = [81.30, 60.47, 54.30,63.30,47.00,
                      81.90,64.70,57.60,78.20,82.00,
                      69.10,57.90,76.50,55.50,53.60,
                      66.60,90.90,86.70,63.70,76.90,
                      70.50,62.50,88.80,66.60,63.10,
                      81.20,69.70,60.10,68.80,73.50,
                      73.20,56.30,71.60,68.60]


literacy_rate_2012_state = [86.6,67.7,67,73.3,63.8,
                      86.4,71,77.7,87.1,
                      87.4,79.3,76.6,83.8,68.7,
                      67.6,75.6,93.9,92.2,70.6,
                      82.9,79.8,75.5,91.6,80.1,
                      73.5,86.5,76.7,67.1,82.2,
                      80.3,87.8,69.7,79.6,77.1]

Poverty_rate_2001_state = [0.36, 4.19, 22.60, 35.32, 42.60,
                     5.0, 40.20, 17.14, 34.20, 9.90, 
                     33.00, 24.11, 23.00, 19.56, 47.00,
                     31.00, 20.80, 1.60, 35.00,24.00,
                     49.96, 50.00, 53.00, 17.00,47.15,
                     20.88, 17.00, 19.85, 36.55, 22.00,
                     55.00, 40.00, 34.00, 40.00]

Poverty_rate_2012_state = [1.57, 9.2, 34.70, 31.98, 33.70,
                     21.81, 39.93, 17.14, 5.09 , 5.09,
                     16.60, 11.20, 8.10, 10.30, 37.00,
                     20.90, 7.10, 2.77,31.60, 17.40,
                     36.90, 11.90, 20.40,18.90, 32.60,
                     15.00, 8.30, 14.70, 8.20, 11.30,
                     14.00, 29.40, 11.30, 20.00 ]

In [29]:
reshaped_df_1['Population of 2001'] = population_of_2001_state
reshaped_df_1['Population of 2012'] = population_of_2012_state
reshaped_df_1['Literacy rate of 2001'] = literacy_rate_2001_state
reshaped_df_1['Literacy rate of 2012'] = literacy_rate_2012_state
reshaped_df_1['Poverty rate of 2001'] = Poverty_rate_2001_state
reshaped_df_1['Poverty rate of 2012'] = Poverty_rate_2012_state

In [30]:
reshaped_df_1

YEAR,2001 total IPC crimes,2012 total IPC crimes,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012
STATE/UT,,,,,,,,
A & N ISLANDS,658,683,356152,381174,81.30,86.6,0.36,1.57
ANDHRA PRADESH,130089,192522,76200000,85000000,60.47,67.7,4.19,9.20
ARUNACHAL PRADESH,2342,2420,1098000,1403000,54.30,67.0,22.60,34.70
ASSAM,36877,77682,26655528,31169272,63.30,73.3,35.32,31.98
BIHAR,88432,146614,82998509,103804637,47.00,63.8,42.60,33.70
CHANDIGARH,3397,3606,900635,995000,81.90,86.4,5.00,21.81
CHHATTISGARH,38460,54598,20833803,25540196,64.70,71.0,40.20,39.93
D & N HAVELI,350,318,220490,350000,57.60,77.7,17.14,17.14
DAMAN & DIU,239,239,158204,195000,78.20,87.1,34.20,5.09
GOA,2341,3608,1343998,1457723,82.00,87.4,9.90,5.09
GUJARAT,103419,130121,41310000,60383628,69.10,79.3,33.00,16.60
HARYANA,38759,62480,21144564,25353081,57.90,76.6,24.11,11.20
HIMACHAL PRADESH,11499,12557,6077900,6856509,76.50,83.8,23.00,8.10
JAMMU & KASHMIR,19505,24608,10143700,12548926,55.50,68.7,19.56,10.30
JHARKHAND,25447,40946,26945829,32966238,53.60,67.6,47.00,37.00
KARNATAKA,109098,134021,52850562,61130704,66.60,75.6,31.00,20.90
KERALA,103847,158989,31841374,33387677,90.90,93.9,20.80,7.10
LAKSHADWEEP,36,60,60650,65000,86.70,92.2,1.60,2.77
MADHYA PRADESH,181741,220335,60348203,72597565,63.70,70.6,35.00,31.60
MAHARASHTRA,171233,202700,96878627,112372972,76.90,82.9,24.00,17.40
MANIPUR,2489,3737,2293896,2721756,70.50,79.8,49.96,36.90
MEGHALAYA,1687,2557,2318822,2964007,62.50,75.5,50.00,11.90
MIZORAM,2246,1766,888573,1091014,88.80,91.6,53.00,20.40
NAGALAND,1234,1090,1990036,1980602,66.60,80.1,17.00,18.90
ODISHA,46661,67957,36800000,41947358,63.10,73.5,47.15,32.60
PUDUCHERRY,4068,4281,974345,681000,81.20,86.5,20.88,15.00
PUNJAB,27774,35790,24358999,27704236,69.70,76.7,17.00,8.30
RAJASTHAN,155185,170948,68548437,68621012,60.10,67.1,19.85,14.70
SIKKIM,444,528,540493,607688,68.80,82.2,36.55,8.20
TAMIL NADU,154801,200474,62405679,72138958,73.50,80.3,22.00,11.30
TRIPURA,2801,6264,3199203,3671037,73.20,87.8,55.00,14.00
UTTAR PRADESH,178129,198093,166197921,199581477,56.30,69.7,40.00,29.40
UTTARAKHAND,8073,8882,8489349,10116752,71.60,79.6,34.00,11.30
WEST BENGAL,61563,161427,80176192,91347736,68.60,77.1,40.00,20.00

In [31]:
reshaped_df_1['Growth/Decrease in Population(%)'] = np.where(reshaped_df_1['Population of 2001'] == 0, 0, 
                                                     round(((reshaped_df_1['Population of 2012'] - reshaped_df_1['Population of 2001']) / reshaped_df_1['Population of 2001']) * 100, 2))

reshaped_df_1['Growth/Decrease in Literacy rate(%)'] = np.where(reshaped_df_1['Literacy rate of 2001'] == 0, 0, 
                                                     round(((reshaped_df_1['Literacy rate of 2012'] - reshaped_df_1['Literacy rate of 2001']) / reshaped_df_1['Literacy rate of 2001']) * 100, 2))


reshaped_df_1['Growth/Decrease in Pverty rate(%)'] = np.where(reshaped_df_1['Poverty rate of 2001'] == 0, 0, 
                                                     round(((reshaped_df_1['Poverty rate of 2012'] - reshaped_df_1['Poverty rate of 2001']) / reshaped_df_1['Poverty rate of 2001']) * 100, 2))


reshaped_df_1['Growth/Decrease in IPC crime(%)'] = np.where(reshaped_df_1['2001 total IPC crimes'] == 0, 0, 
                                                     round(((reshaped_df_1['2012 total IPC crimes'] - reshaped_df_1['2001 total IPC crimes']) / reshaped_df_1['2001 total IPC crimes']) * 100, 2))

In [32]:
df = reshaped_df_1.reset_index(drop=True)
df

YEAR,2001 total IPC crimes,2012 total IPC crimes,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in IPC crime(%)
0,658,683,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,3.80
1,130089,192522,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,47.99
2,2342,2420,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,3.33
3,36877,77682,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,110.65
4,88432,146614,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,65.79
5,3397,3606,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,6.15
6,38460,54598,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,41.96
7,350,318,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,-9.14
8,239,239,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,2341,3608,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,54.12
10,103419,130121,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,25.82
11,38759,62480,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,61.20
12,11499,12557,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,9.20
13,19505,24608,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,26.16
14,25447,40946,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,60.91
15,109098,134021,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,22.84
16,103847,158989,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,53.10
17,36,60,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,66.67
18,181741,220335,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,21.24
19,171233,202700,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,18.38
20,2489,3737,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,50.14
21,1687,2557,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,51.57
22,2246,1766,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-21.37
23,1234,1090,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-11.67
24,46661,67957,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,45.64
25,4068,4281,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,5.24
26,27774,35790,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,28.86
27,155185,170948,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,10.16
28,444,528,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,18.92
29,154801,200474,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,29.50
30,2801,6264,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,123.63
31,178129,198093,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,11.21
32,8073,8882,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,10.02
33,61563,161427,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,162.21

In [33]:
state_name = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM','BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI','DAMAN & DIU', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH','JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA','LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR','MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY','PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA','UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']

In [34]:
df['state_name'] = state_name
df

YEAR,2001 total IPC crimes,2012 total IPC crimes,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in IPC crime(%),state_name
0,658,683,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,3.80,A & N ISLANDS
1,130089,192522,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,47.99,ANDHRA PRADESH
2,2342,2420,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,3.33,ARUNACHAL PRADESH
3,36877,77682,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,110.65,ASSAM
4,88432,146614,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,65.79,BIHAR
5,3397,3606,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,6.15,CHANDIGARH
6,38460,54598,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,41.96,CHHATTISGARH
7,350,318,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,-9.14,D & N HAVELI
8,239,239,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00,DAMAN & DIU
9,2341,3608,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,54.12,GOA
10,103419,130121,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,25.82,GUJARAT
11,38759,62480,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,61.20,HARYANA
12,11499,12557,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,9.20,HIMACHAL PRADESH
13,19505,24608,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,26.16,JAMMU & KASHMIR
14,25447,40946,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,60.91,JHARKHAND
15,109098,134021,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,22.84,KARNATAKA
16,103847,158989,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,53.10,KERALA
17,36,60,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,66.67,LAKSHADWEEP
18,181741,220335,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,21.24,MADHYA PRADESH
19,171233,202700,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,18.38,MAHARASHTRA
20,2489,3737,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,50.14,MANIPUR
21,1687,2557,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,51.57,MEGHALAYA
22,2246,1766,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-21.37,MIZORAM
23,1234,1090,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-11.67,NAGALAND
24,46661,67957,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,45.64,ODISHA
25,4068,4281,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,5.24,PUDUCHERRY
26,27774,35790,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,28.86,PUNJAB
27,155185,170948,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,10.16,RAJASTHAN
28,444,528,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,18.92,SIKKIM
29,154801,200474,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,29.50,TAMIL NADU
30,2801,6264,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,123.63,TRIPURA
31,178129,198093,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,11.21,UTTAR PRADESH
32,8073,8882,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,10.02,UTTARAKHAND
33,61563,161427,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,162.21,WEST BENGAL

In [35]:
last_col_name = df.columns[-1]  # Access the last element of the columns list

# Reorder the columns by placing the last column at the beginning
new_column_order = [last_col_name] + list(df.columns[:-1])  # Concatenate with remaining columns

df = df[new_column_order]

In [36]:
df

YEAR,state_name,2001 total IPC crimes,2012 total IPC crimes,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in IPC crime(%)
0,A & N ISLANDS,658,683,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,3.80
1,ANDHRA PRADESH,130089,192522,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,47.99
2,ARUNACHAL PRADESH,2342,2420,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,3.33
3,ASSAM,36877,77682,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,110.65
4,BIHAR,88432,146614,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,65.79
5,CHANDIGARH,3397,3606,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,6.15
6,CHHATTISGARH,38460,54598,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,41.96
7,D & N HAVELI,350,318,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,-9.14
8,DAMAN & DIU,239,239,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,GOA,2341,3608,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,54.12
10,GUJARAT,103419,130121,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,25.82
11,HARYANA,38759,62480,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,61.20
12,HIMACHAL PRADESH,11499,12557,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,9.20
13,JAMMU & KASHMIR,19505,24608,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,26.16
14,JHARKHAND,25447,40946,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,60.91
15,KARNATAKA,109098,134021,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,22.84
16,KERALA,103847,158989,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,53.10
17,LAKSHADWEEP,36,60,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,66.67
18,MADHYA PRADESH,181741,220335,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,21.24
19,MAHARASHTRA,171233,202700,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,18.38
20,MANIPUR,2489,3737,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,50.14
21,MEGHALAYA,1687,2557,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,51.57
22,MIZORAM,2246,1766,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-21.37
23,NAGALAND,1234,1090,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-11.67
24,ODISHA,46661,67957,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,45.64
25,PUDUCHERRY,4068,4281,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,5.24
26,PUNJAB,27774,35790,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,28.86
27,RAJASTHAN,155185,170948,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,10.16
28,SIKKIM,444,528,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,18.92
29,TAMIL NADU,154801,200474,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,29.50
30,TRIPURA,2801,6264,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,123.63
31,UTTAR PRADESH,178129,198093,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,11.21
32,UTTARAKHAND,8073,8882,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,10.02
33,WEST BENGAL,61563,161427,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,162.21

In [37]:
IPC_crime_data_2001_2012 = df.copy()
IPC_crime_data_2001_2012

YEAR,state_name,2001 total IPC crimes,2012 total IPC crimes,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in IPC crime(%)
0,A & N ISLANDS,658,683,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,3.80
1,ANDHRA PRADESH,130089,192522,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,47.99
2,ARUNACHAL PRADESH,2342,2420,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,3.33
3,ASSAM,36877,77682,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,110.65
4,BIHAR,88432,146614,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,65.79
5,CHANDIGARH,3397,3606,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,6.15
6,CHHATTISGARH,38460,54598,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,41.96
7,D & N HAVELI,350,318,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,-9.14
8,DAMAN & DIU,239,239,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,GOA,2341,3608,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,54.12
10,GUJARAT,103419,130121,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,25.82
11,HARYANA,38759,62480,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,61.20
12,HIMACHAL PRADESH,11499,12557,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,9.20
13,JAMMU & KASHMIR,19505,24608,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,26.16
14,JHARKHAND,25447,40946,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,60.91
15,KARNATAKA,109098,134021,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,22.84
16,KERALA,103847,158989,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,53.10
17,LAKSHADWEEP,36,60,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,66.67
18,MADHYA PRADESH,181741,220335,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,21.24
19,MAHARASHTRA,171233,202700,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,18.38
20,MANIPUR,2489,3737,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,50.14
21,MEGHALAYA,1687,2557,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,51.57
22,MIZORAM,2246,1766,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-21.37
23,NAGALAND,1234,1090,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-11.67
24,ODISHA,46661,67957,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,45.64
25,PUDUCHERRY,4068,4281,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,5.24
26,PUNJAB,27774,35790,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,28.86
27,RAJASTHAN,155185,170948,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,10.16
28,SIKKIM,444,528,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,18.92
29,TAMIL NADU,154801,200474,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,29.50
30,TRIPURA,2801,6264,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,123.63
31,UTTAR PRADESH,178129,198093,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,11.21
32,UTTARAKHAND,8073,8882,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,10.02
33,WEST BENGAL,61563,161427,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,162.21

In [38]:
filename = 'IPC_crime_data_2001_2012.csv'

# Save the DataFrame to a CSV file
IPC_crime_data_2001_2012.to_csv(filename, index=False)

# 2) District_wise_crimes_committed_against_SC_2001_2012 :

In [12]:
df_2 = pd.read_csv('02_01_District_wise_crimes_committed_against_SC_2001_2012.csv')
df_2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [13]:
New_df_2 = df_2[df_2['DISTRICT']=='TOTAL']
New_df_2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
28,ANDHRA PRADESH,TOTAL,2001,45,69,22,3,2,6,518,950,312,1006
42,ARUNACHAL PRADESH,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
70,ASSAM,TOTAL,2001,0,0,0,0,1,1,4,0,0,0
115,BIHAR,TOTAL,2001,28,35,8,2,1,17,378,513,81,240
134,CHHATTISGARH,TOTAL,2001,8,52,8,0,1,0,101,164,1,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8991,D & N HAVELI,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
8994,DAMAN & DIU,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9012,DELHI,TOTAL,2012,0,0,0,0,0,0,0,38,0,6
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [14]:
New_df_2 = New_df_2.sort_values(by = ['STATE/UT'])
New_df_2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
2867,A & N ISLANDS,TOTAL,2004,0,0,0,0,0,0,0,0,0,0
7385,A & N ISLANDS,TOTAL,2010,0,0,0,0,0,0,0,0,0,0
3601,A & N ISLANDS,TOTAL,2005,0,0,0,0,0,0,0,0,0,0
8987,A & N ISLANDS,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
1409,A & N ISLANDS,TOTAL,2002,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7382,WEST BENGAL,TOTAL,2010,0,1,0,0,0,1,0,27,0,34
5080,WEST BENGAL,TOTAL,2007,1,1,0,0,0,0,0,1,1,0
5836,WEST BENGAL,TOTAL,2008,0,0,0,0,0,0,1,8,0,10
688,WEST BENGAL,TOTAL,2001,0,3,0,0,0,0,1,5,0,1
2864,WEST BENGAL,TOTAL,2004,0,2,0,0,0,0,2,2,0,8

In [15]:
Mm_df_2 = New_df_2[New_df_2['Year'].isin([2001 , 2012])]

In [16]:
M_df_2 = Mm_df_2.drop('DISTRICT' , axis = 1)
M_df_2

,STATE/UT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
8987,A & N ISLANDS,2012,0,0,0,0,0,0,0,0,0,0
691,A & N ISLANDS,2001,0,0,0,0,0,0,0,0,0,0
28,ANDHRA PRADESH,2001,45,69,22,3,2,6,518,950,312,1006
8240,ANDHRA PRADESH,2012,54,104,11,0,1,7,626,801,9,1444
8258,ARUNACHAL PRADESH,2012,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
650,UTTAR PRADESH,2001,423,412,219,16,83,178,821,4885,12,3683
664,UTTARAKHAND,2001,10,2,3,0,0,1,23,84,0,45
8953,UTTARAKHAND,2012,3,5,2,0,0,0,9,14,0,0
8983,WEST BENGAL,2012,0,7,0,0,0,0,7,13,0,58
688,WEST BENGAL,2001,0,3,0,0,0,0,1,5,0,1

In [17]:
M_df_2.columns

Index(['STATE/UT', 'Year', 'Murder', 'Rape', 'Kidnapping and Abduction',
       'Dacoity', 'Robbery', 'Arson', 'Hurt',
       'Prevention of atrocities (POA) Act',
       'Protection of Civil Rights (PCR) Act', 'Other Crimes Against SCs'],
      dtype='object')

In [18]:
crime_cols = ['Murder', 'Rape', 'Kidnapping and Abduction', 'Dacoity', 'Robbery', 'Arson', 'Hurt', 'Other Crimes Against SCs']
M_df_2['TOTAL SC CRIMES'] = M_df_2[crime_cols].sum(axis=1)

In [19]:
M_df_2 = M_df_2[['STATE/UT', 'Year','Prevention of atrocities (POA) Act','Protection of Civil Rights (PCR) Act', 'TOTAL SC CRIMES']]
M_df_2

,STATE/UT,Year,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,TOTAL SC CRIMES
8987,A & N ISLANDS,2012,0,0,0
691,A & N ISLANDS,2001,0,0,0
28,ANDHRA PRADESH,2001,950,312,1671
8240,ANDHRA PRADESH,2012,801,9,2247
8258,ARUNACHAL PRADESH,2012,0,0,0
...,...,...,...,...,...
650,UTTAR PRADESH,2001,4885,12,5835
664,UTTARAKHAND,2001,84,0,84
8953,UTTARAKHAND,2012,14,0,19
8983,WEST BENGAL,2012,13,0,72
688,WEST BENGAL,2001,5,0,5

In [20]:
reshaped_df_222 = M_df_2.pivot_table(values='Protection of Civil Rights (PCR) Act', index='STATE/UT', columns='Year', aggfunc=sum)
reshaped_df_222

Year               2001  2012
STATE/UT
A & N ISLANDS         0     0
ANDHRA PRADESH      312     9
ARUNACHAL PRADESH     0     0
ASSAM                 0     0
BIHAR                81     0
CHANDIGARH            0     0
CHHATTISGARH          1     0
D & N HAVELI          0     0
DAMAN & DIU           0     0
DELHI                 2     0
GOA                   0     1
GUJARAT              16     2
HARYANA               1     0
HIMACHAL PRADESH      4     3
JAMMU & KASHMIR       0     1
JHARKHAND             0     0
KARNATAKA            94    11
KERALA                0     0
LAKSHADWEEP           0     0
MADHYA PRADESH        1     0
MAHARASHTRA          61     5
MANIPUR               0     0
MEGHALAYA             0     0
MIZORAM               0     0
NAGALAND              0     0
ODISHA               12     0
PUDUCHERRY           13    20
PUNJAB                1     0
RAJASTHAN             0     0
SIKKIM                0     0
TAMIL NADU           22     9
TRIPURA               0     0
UTTAR PRADESH        12     1
UTTARAKHAND           0     0
WEST BENGAL           0     0

In [21]:
new_column_names = {2001: '2001 total PCR act', 2012: '2012 total PCR act'}
Total_PCR_df = reshaped_df_222.rename(columns=new_column_names)
Total_PCR_df

Year               2001 total PCR act  2012 total PCR act
STATE/UT
A & N ISLANDS                       0                   0
ANDHRA PRADESH                    312                   9
ARUNACHAL PRADESH                   0                   0
ASSAM                               0                   0
BIHAR                              81                   0
CHANDIGARH                          0                   0
CHHATTISGARH                        1                   0
D & N HAVELI                        0                   0
DAMAN & DIU                         0                   0
DELHI                               2                   0
GOA                                 0                   1
GUJARAT                            16                   2
HARYANA                             1                   0
HIMACHAL PRADESH                    4                   3
JAMMU & KASHMIR                     0                   1
JHARKHAND                           0                   0
KARNATAKA                          94                  11
KERALA                              0                   0
LAKSHADWEEP                         0                   0
MADHYA PRADESH                      1                   0
MAHARASHTRA                        61                   5
MANIPUR                             0                   0
MEGHALAYA                           0                   0
MIZORAM                             0                   0
NAGALAND                            0                   0
ODISHA                             12                   0
PUDUCHERRY                         13                  20
PUNJAB                              1                   0
RAJASTHAN                           0                   0
SIKKIM                              0                   0
TAMIL NADU                         22                   9
TRIPURA                             0                   0
UTTAR PRADESH                      12                   1
UTTARAKHAND                         0                   0
WEST BENGAL                         0                   0

In [22]:
reshaped_df_22 = M_df_2.pivot_table(values='Prevention of atrocities (POA) Act', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total POA acts', 2012: '2012 total POA acts'}
Toatl_POA_df = reshaped_df_22.rename(columns=new_column_names)
Toatl_POA_df

Year               2001 total POA acts  2012 total POA acts
STATE/UT
A & N ISLANDS                        0                    0
ANDHRA PRADESH                     950                  801
ARUNACHAL PRADESH                    0                    0
ASSAM                                0                    2
BIHAR                              513                 4436
CHANDIGARH                           2                    1
CHHATTISGARH                       164                    0
D & N HAVELI                         0                    0
DAMAN & DIU                          0                    0
DELHI                               17                   38
GOA                                  1                    4
GUJARAT                            356                  217
HARYANA                             33                   15
HIMACHAL PRADESH                    41                   83
JAMMU & KASHMIR                      0                    0
JHARKHAND                           35                  336
KARNATAKA                          983                 1334
KERALA                             121                   67
LAKSHADWEEP                          0                    0
MADHYA PRADESH                     435                    1
MAHARASHTRA                        146                  267
MANIPUR                              0                    0
MEGHALAYA                            0                    0
MIZORAM                              0                    0
NAGALAND                             0                    0
ODISHA                             645                 1943
PUDUCHERRY                           0                    1
PUNJAB                              49                    8
RAJASTHAN                         2965                  111
SIKKIM                               0                    0
TAMIL NADU                         682                 1143
TRIPURA                              1                    1
UTTAR PRADESH                     4885                 1740
UTTARAKHAND                         84                   14
WEST BENGAL                          5                   13

In [23]:
reshaped_df = M_df_2.pivot_table(values='TOTAL SC CRIMES', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total SC crimes', 2012: '2012 total SC crimes'}
Toatl_SC_df = reshaped_df.rename(columns=new_column_names)
Toatl_SC_df

Year               2001 total SC crimes  2012 total SC crimes
STATE/UT
A & N ISLANDS                         0                     0
ANDHRA PRADESH                     1671                  2247
ARUNACHAL PRADESH                     0                     0
ASSAM                                 6                     2
BIHAR                               709                   385
CHANDIGARH                            1                     1
CHHATTISGARH                        336                   262
D & N HAVELI                          0                     0
DAMAN & DIU                           0                     0
DELHI                                 0                     6
GOA                                   0                     5
GUJARAT                             870                   809
HARYANA                             195                   237
HIMACHAL PRADESH                     65                    43
JAMMU & KASHMIR                      10                     1
JHARKHAND                           123                   360
KARNATAKA                           544                  1260
KERALA                              378                   743
LAKSHADWEEP                           0                     0
MADHYA PRADESH                     3776                  2874
MAHARASHTRA                         418                   819
MANIPUR                               0                     0
MEGHALAYA                             0                     0
MIZORAM                               1                     0
NAGALAND                              1                     0
ODISHA                             1077                   322
PUDUCHERRY                            0                     3
PUNJAB                               84                    63
RAJASTHAN                          1927                  5448
SIKKIM                                6                     5
TAMIL NADU                         1632                   495
TRIPURA                               1                    75
UTTAR PRADESH                      5835                  4461
UTTARAKHAND                          84                    19
WEST BENGAL                           5                    72

In [24]:
Modified_df_2 = pd.concat([Toatl_SC_df,Total_PCR_df, Toatl_POA_df ], axis = 1)
Modified_df_2

Year,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts
STATE/UT,,,,,,
A & N ISLANDS,0,0,0,0,0,0
ANDHRA PRADESH,1671,2247,312,9,950,801
ARUNACHAL PRADESH,0,0,0,0,0,0
ASSAM,6,2,0,0,0,2
BIHAR,709,385,81,0,513,4436
CHANDIGARH,1,1,0,0,2,1
CHHATTISGARH,336,262,1,0,164,0
D & N HAVELI,0,0,0,0,0,0
DAMAN & DIU,0,0,0,0,0,0
DELHI,0,6,2,0,17,38
GOA,0,5,0,1,1,4
GUJARAT,870,809,16,2,356,217
HARYANA,195,237,1,0,33,15
HIMACHAL PRADESH,65,43,4,3,41,83
JAMMU & KASHMIR,10,1,0,1,0,0
JHARKHAND,123,360,0,0,35,336
KARNATAKA,544,1260,94,11,983,1334
KERALA,378,743,0,0,121,67
LAKSHADWEEP,0,0,0,0,0,0
MADHYA PRADESH,3776,2874,1,0,435,1
MAHARASHTRA,418,819,61,5,146,267
MANIPUR,0,0,0,0,0,0
MEGHALAYA,0,0,0,0,0,0
MIZORAM,1,0,0,0,0,0
NAGALAND,1,0,0,0,0,0
ODISHA,1077,322,12,0,645,1943
PUDUCHERRY,0,3,13,20,0,1
PUNJAB,84,63,1,0,49,8
RAJASTHAN,1927,5448,0,0,2965,111
SIKKIM,6,5,0,0,0,0
TAMIL NADU,1632,495,22,9,682,1143
TRIPURA,1,75,0,0,1,1
UTTAR PRADESH,5835,4461,12,1,4885,1740
UTTARAKHAND,84,19,0,0,84,14
WEST BENGAL,5,72,0,0,5,13

In [25]:
Modified_df_2['Population of 2001'] = population_of_2001
Modified_df_2['Population of 2012'] = population_of_2012
Modified_df_2['Literacy rate of 2001'] = literacy_rate_2001
Modified_df_2['Literacy rate of 2012'] = literacy_rate_2012
Modified_df_2['Poverty rate of 2001'] = Poverty_rate_2001
Modified_df_2['Poverty rate of 2012'] = Poverty_rate_2012

In [26]:
Modified_df_2

Year,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012
STATE/UT,,,,,,,,,,,,
A & N ISLANDS,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57
ANDHRA PRADESH,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20
ARUNACHAL PRADESH,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70
ASSAM,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98
BIHAR,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70
CHANDIGARH,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81
CHHATTISGARH,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93
D & N HAVELI,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14
DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09
DELHI,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91
GOA,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09
GUJARAT,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60
HARYANA,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20
HIMACHAL PRADESH,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10
JAMMU & KASHMIR,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30
JHARKHAND,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00
KARNATAKA,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90
KERALA,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10
LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77
MADHYA PRADESH,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60
MAHARASHTRA,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40
MANIPUR,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90
MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90
MIZORAM,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40
NAGALAND,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90
ODISHA,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60
PUDUCHERRY,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00
PUNJAB,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30
RAJASTHAN,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70
SIKKIM,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20
TAMIL NADU,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30
TRIPURA,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00
UTTAR PRADESH,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40
UTTARAKHAND,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30
WEST BENGAL,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00

In [27]:
Modified_df_2['Growth/Decrease in Population(%)'] = np.where(Modified_df_2['Population of 2001'] == 0, 0, 
                                                     round(((Modified_df_2['Population of 2012'] - Modified_df_2['Population of 2001']) / Modified_df_2['Population of 2001']) * 100, 2))

Modified_df_2['Growth/Decrease in Literacy rate(%)'] = np.where(Modified_df_2['Literacy rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_2['Literacy rate of 2012'] - Modified_df_2['Literacy rate of 2001']) / Modified_df_2['Literacy rate of 2001']) * 100, 2))


Modified_df_2['Growth/Decrease in Pverty rate(%)'] = np.where(Modified_df_2['Poverty rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_2['Poverty rate of 2012'] - Modified_df_2['Poverty rate of 2001']) / Modified_df_2['Poverty rate of 2001']) * 100, 2))


Modified_df_2['Growth/Decrease in SC crime(%)'] = np.where(Modified_df_2['2001 total SC crimes'] == 0, 0, 
                                                     round(((Modified_df_2['2012 total SC crimes'] - Modified_df_2['2001 total SC crimes']) / Modified_df_2['2001 total SC crimes']) * 100, 2))

In [28]:
Modified_df_2

Year,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in SC crime(%)
STATE/UT,,,,,,,,,,,,,,,,
A & N ISLANDS,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,0.00
ANDHRA PRADESH,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,34.47
ARUNACHAL PRADESH,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,0.00
ASSAM,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,-66.67
BIHAR,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-45.70
CHANDIGARH,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
CHHATTISGARH,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-22.02
D & N HAVELI,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
DELHI,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
GOA,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
GUJARAT,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-7.01
HARYANA,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,21.54
HIMACHAL PRADESH,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-33.85
JAMMU & KASHMIR,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,-90.00
JHARKHAND,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,192.68
KARNATAKA,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,131.62
KERALA,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,96.56
LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
MADHYA PRADESH,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-23.89
MAHARASHTRA,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,95.93
MANIPUR,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
MIZORAM,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
NAGALAND,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
ODISHA,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-70.10
PUDUCHERRY,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
PUNJAB,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,-25.00
RAJASTHAN,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,182.72
SIKKIM,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-16.67
TAMIL NADU,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,-69.67
TRIPURA,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,7400.00
UTTAR PRADESH,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-23.55
UTTARAKHAND,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-77.38
WEST BENGAL,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,1340.00

In [29]:
df_2 = Modified_df_2.reset_index(drop=True)
df_2

Year,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in SC crime(%)
0,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,0.00
1,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,34.47
2,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,0.00
3,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,-66.67
4,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-45.70
5,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-22.02
7,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-7.01
12,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,21.54
13,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-33.85
14,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,-90.00
15,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,192.68
16,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,131.62
17,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,96.56
18,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-23.89
20,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,95.93
21,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-70.10
26,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,-25.00
28,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,182.72
29,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-16.67
30,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,-69.67
31,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,7400.00
32,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-23.55
33,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-77.38
34,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,1340.00

In [30]:
state_name = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM','BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI','DAMAN & DIU','DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH','JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA','LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR','MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY','PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA','UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
df_2['state_name'] = state_name
df_2

Year,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in SC crime(%),state_name
0,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,0.00,A & N ISLANDS
1,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,34.47,ANDHRA PRADESH
2,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,0.00,ARUNACHAL PRADESH
3,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,-66.67,ASSAM
4,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-45.70,BIHAR
5,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00,CHANDIGARH
6,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-22.02,CHHATTISGARH
7,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00,D & N HAVELI
8,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00,DAMAN & DIU
9,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00,DELHI
10,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00,GOA
11,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-7.01,GUJARAT
12,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,21.54,HARYANA
13,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-33.85,HIMACHAL PRADESH
14,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,-90.00,JAMMU & KASHMIR
15,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,192.68,JHARKHAND
16,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,131.62,KARNATAKA
17,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,96.56,KERALA
18,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00,LAKSHADWEEP
19,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-23.89,MADHYA PRADESH
20,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,95.93,MAHARASHTRA
21,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00,MANIPUR
22,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00,MEGHALAYA
23,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00,MIZORAM
24,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00,NAGALAND
25,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-70.10,ODISHA
26,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00,PUDUCHERRY
27,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,-25.00,PUNJAB
28,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,182.72,RAJASTHAN
29,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-16.67,SIKKIM
30,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,-69.67,TAMIL NADU
31,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,7400.00,TRIPURA
32,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-23.55,UTTAR PRADESH
33,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-77.38,UTTARAKHAND
34,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,1340.00,WEST BENGAL

In [31]:
last_col_name = df_2.columns[-1]  # Access the last element of the columns list

# Reorder the columns by placing the last column at the beginning
new_column_order = [last_col_name] + list(df_2.columns[:-1])  # Concatenate with remaining columns

df_2 = df_2[new_column_order]

In [32]:
df_2

Year,state_name,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in SC crime(%)
0,A & N ISLANDS,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,0.00
1,ANDHRA PRADESH,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,34.47
2,ARUNACHAL PRADESH,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,0.00
3,ASSAM,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,-66.67
4,BIHAR,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-45.70
5,CHANDIGARH,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,CHHATTISGARH,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-22.02
7,D & N HAVELI,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,DELHI,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,GOA,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,GUJARAT,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-7.01
12,HARYANA,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,21.54
13,HIMACHAL PRADESH,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-33.85
14,JAMMU & KASHMIR,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,-90.00
15,JHARKHAND,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,192.68
16,KARNATAKA,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,131.62
17,KERALA,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,96.56
18,LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,MADHYA PRADESH,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-23.89
20,MAHARASHTRA,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,95.93
21,MANIPUR,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,MIZORAM,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,NAGALAND,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,ODISHA,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-70.10
26,PUDUCHERRY,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,PUNJAB,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,-25.00
28,RAJASTHAN,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,182.72
29,SIKKIM,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-16.67
30,TAMIL NADU,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,-69.67
31,TRIPURA,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,7400.00
32,UTTAR PRADESH,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-23.55
33,UTTARAKHAND,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-77.38
34,WEST BENGAL,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,1340.00

In [33]:
SC_crime_data_2001_2012 = df_2.copy()
SC_crime_data_2001_2012

Year,state_name,2001 total SC crimes,2012 total SC crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in SC crime(%)
0,A & N ISLANDS,0,0,0,0,0,0,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,0.00
1,ANDHRA PRADESH,1671,2247,312,9,950,801,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,34.47
2,ARUNACHAL PRADESH,0,0,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,0.00
3,ASSAM,6,2,0,0,0,2,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,-66.67
4,BIHAR,709,385,81,0,513,4436,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-45.70
5,CHANDIGARH,1,1,0,0,2,1,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,CHHATTISGARH,336,262,1,0,164,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-22.02
7,D & N HAVELI,0,0,0,0,0,0,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,DELHI,0,6,2,0,17,38,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,GOA,0,5,0,1,1,4,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,GUJARAT,870,809,16,2,356,217,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-7.01
12,HARYANA,195,237,1,0,33,15,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,21.54
13,HIMACHAL PRADESH,65,43,4,3,41,83,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-33.85
14,JAMMU & KASHMIR,10,1,0,1,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,-90.00
15,JHARKHAND,123,360,0,0,35,336,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,192.68
16,KARNATAKA,544,1260,94,11,983,1334,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,131.62
17,KERALA,378,743,0,0,121,67,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,96.56
18,LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,MADHYA PRADESH,3776,2874,1,0,435,1,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-23.89
20,MAHARASHTRA,418,819,61,5,146,267,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,95.93
21,MANIPUR,0,0,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,MIZORAM,1,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,NAGALAND,1,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,ODISHA,1077,322,12,0,645,1943,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-70.10
26,PUDUCHERRY,0,3,13,20,0,1,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,PUNJAB,84,63,1,0,49,8,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,-25.00
28,RAJASTHAN,1927,5448,0,0,2965,111,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,182.72
29,SIKKIM,6,5,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-16.67
30,TAMIL NADU,1632,495,22,9,682,1143,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,-69.67
31,TRIPURA,1,75,0,0,1,1,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,7400.00
32,UTTAR PRADESH,5835,4461,12,1,4885,1740,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-23.55
33,UTTARAKHAND,84,19,0,0,84,14,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-77.38
34,WEST BENGAL,5,72,0,0,5,13,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,1340.00

In [34]:
filename = 'SC_crime_data_2001_2012.csv'

# Save the DataFrame to a CSV file
SC_crime_data_2001_2012.to_csv(filename, index=False)

# 3) District_wise_crimes_committed_against_ST_2001_2012 :

In [35]:
df_3 = pd.read_csv('02_District_wise_crimes_committed_against_ST_2001_2012.csv')
df_3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [36]:
New_df_3 = df_3[df_3['DISTRICT']=='TOTAL']
New_df_3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
28,ANDHRA PRADESH,TOTAL,2001,4,21,5,0,0,1,106,26,129,220
42,ARUNACHAL PRADESH,TOTAL,2001,4,5,7,0,0,1,18,0,0,37
70,ASSAM,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
115,BIHAR,TOTAL,2001,1,4,1,0,0,0,5,8,10,18
134,CHHATTISGARH,TOTAL,2001,18,87,5,1,7,1,63,2,6,296
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8991,D & N HAVELI,TOTAL,2012,0,0,0,0,0,0,0,0,1,3
8994,DAMAN & DIU,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9012,DELHI,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [37]:
Mm_df_3 = New_df_3[New_df_3['Year'].isin([2001 , 2012])]

In [38]:
M_df_3 = Mm_df_3.drop('DISTRICT' , axis = 1)
M_df_3

,STATE/UT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
28,ANDHRA PRADESH,2001,4,21,5,0,0,1,106,26,129,220
42,ARUNACHAL PRADESH,2001,4,5,7,0,0,1,18,0,0,37
70,ASSAM,2001,0,0,0,0,0,0,0,0,0,0
115,BIHAR,2001,1,4,1,0,0,0,5,8,10,18
134,CHHATTISGARH,2001,18,87,5,1,7,1,63,2,6,296
...,...,...,...,...,...,...,...,...,...,...,...,...
8991,D & N HAVELI,2012,0,0,0,0,0,0,0,0,1,3
8994,DAMAN & DIU,2012,0,0,0,0,0,0,0,0,0,0
9012,DELHI,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0

In [39]:
crime_cols = ['Murder', 'Rape', 'Kidnapping Abduction', 'Dacoity', 'Robbery', 'Arson', 'Hurt', 'Other Crimes Against STs']
M_df_3['TOTAL ST CRIMES'] = M_df_3[crime_cols].sum(axis=1)

In [40]:
M_df_3 = M_df_3[['STATE/UT', 'Year','Prevention of atrocities (POA) Act','Protection of Civil Rights (PCR) Act', 'TOTAL ST CRIMES']]
M_df_3

,STATE/UT,Year,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,TOTAL ST CRIMES
28,ANDHRA PRADESH,2001,129,26,357
42,ARUNACHAL PRADESH,2001,0,0,72
70,ASSAM,2001,0,0,0
115,BIHAR,2001,10,8,29
134,CHHATTISGARH,2001,6,2,478
...,...,...,...,...,...
8991,D & N HAVELI,2012,1,0,3
8994,DAMAN & DIU,2012,0,0,0
9012,DELHI,2012,0,0,0
9014,LAKSHADWEEP,2012,0,0,0
9017,PUDUCHERRY,2012,0,0,0

In [41]:
reshaped_df_333 = M_df_3.pivot_table(values='Protection of Civil Rights (PCR) Act', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total PCR act', 2012: '2012 total PCR act'}
Total_PCR_df = reshaped_df_333.rename(columns=new_column_names)
Total_PCR_df

Year               2001 total PCR act  2012 total PCR act
STATE/UT
A & N ISLANDS                       0                   0
ANDHRA PRADESH                     26                   0
ARUNACHAL PRADESH                   0                   0
ASSAM                               0                   0
BIHAR                               8                   0
CHANDIGARH                          0                   0
CHHATTISGARH                        2                   0
D & N HAVELI                        0                   0
DAMAN & DIU                         0                   0
DELHI                               0                   0
GOA                                 0                   0
GUJARAT                             3                   0
HARYANA                             0                   0
HIMACHAL PRADESH                    0                   0
JAMMU & KASHMIR                     0                   0
JHARKHAND                           0                   0
KARNATAKA                          13                   1
KERALA                              0                   0
LAKSHADWEEP                         0                   0
MADHYA PRADESH                      2                   0
MAHARASHTRA                         0                   1
MANIPUR                             0                   0
MEGHALAYA                           0                   0
MIZORAM                             0                   0
NAGALAND                            0                   0
ODISHA                              4                   0
PUDUCHERRY                          0                   0
PUNJAB                              0                   0
RAJASTHAN                           0                   0
SIKKIM                              0                   0
TAMIL NADU                          0                   0
TRIPURA                             0                   0
UTTAR PRADESH                       0                   0
UTTARAKHAND                         0                   0
WEST BENGAL                         0                   0

In [42]:
reshaped_df_33 = M_df_3.pivot_table(values='Prevention of atrocities (POA) Act', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total POA acts', 2012: '2012 total POA acts'}
Toatl_POA_df = reshaped_df_33.rename(columns=new_column_names)
Toatl_POA_df

Year               2001 total POA acts  2012 total POA acts
STATE/UT
A & N ISLANDS                        0                    2
ANDHRA PRADESH                     129                  127
ARUNACHAL PRADESH                    0                    0
ASSAM                                0                    0
BIHAR                               10                  118
CHANDIGARH                           0                    0
CHHATTISGARH                         6                    0
D & N HAVELI                         3                    1
DAMAN & DIU                          0                    0
DELHI                                0                    0
GOA                                  0                    0
GUJARAT                             90                   65
HARYANA                              0                    0
HIMACHAL PRADESH                     2                    3
JAMMU & KASHMIR                      0                    0
JHARKHAND                           20                  133
KARNATAKA                          204                  164
KERALA                              14                   10
LAKSHADWEEP                          0                    0
MADHYA PRADESH                     243                    0
MAHARASHTRA                         41                   53
MANIPUR                              0                    0
MEGHALAYA                            0                    0
MIZORAM                              0                    0
NAGALAND                             0                    0
ODISHA                             153                  579
PUDUCHERRY                           0                    0
PUNJAB                               0                    0
RAJASTHAN                          665                   31
SIKKIM                               0                    0
TAMIL NADU                           2                    5
TRIPURA                              0                    0
UTTAR PRADESH                       75                   12
UTTARAKHAND                          9                    3
WEST BENGAL                          1                    5

In [43]:
reshaped_df = M_df_3.pivot_table(values='TOTAL ST CRIMES', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total ST crimes', 2012: '2012 total ST crimes'}
Toatl_ST_df = reshaped_df.rename(columns=new_column_names)
Toatl_ST_df

Year               2001 total ST crimes  2012 total ST crimes
STATE/UT
A & N ISLANDS                         1                     2
ANDHRA PRADESH                      357                   539
ARUNACHAL PRADESH                    72                    10
ASSAM                                 0                     0
BIHAR                                29                     1
CHANDIGARH                            0                     0
CHHATTISGARH                        478                   344
D & N HAVELI                          3                     3
DAMAN & DIU                           0                     0
DELHI                                 0                     0
GOA                                   0                     1
GUJARAT                             216                   156
HARYANA                               0                     0
HIMACHAL PRADESH                      2                     0
JAMMU & KASHMIR                       0                     0
JHARKHAND                           262                   154
KARNATAKA                            59                   209
KERALA                               69                   114
LAKSHADWEEP                           0                     0
MADHYA PRADESH                     1290                  1218
MAHARASHTRA                         197                   254
MANIPUR                               0                     2
MEGHALAYA                             0                     0
MIZORAM                              10                     0
NAGALAND                            310                     0
ODISHA                              577                   109
PUDUCHERRY                            0                     0
PUNJAB                                0                     0
RAJASTHAN                           358                  1320
SIKKIM                                6                     4
TAMIL NADU                            7                    22
TRIPURA                               0                    29
UTTAR PRADESH                       179                    32
UTTARAKHAND                           9                     0
WEST BENGAL                           1                    86

In [44]:
Modified_df_3 = pd.concat([Toatl_ST_df,Total_PCR_df, Toatl_POA_df ], axis = 1)
Modified_df_3

Year,2001 total ST crimes,2012 total ST crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts
STATE/UT,,,,,,
A & N ISLANDS,1,2,0,0,0,2
ANDHRA PRADESH,357,539,26,0,129,127
ARUNACHAL PRADESH,72,10,0,0,0,0
ASSAM,0,0,0,0,0,0
BIHAR,29,1,8,0,10,118
CHANDIGARH,0,0,0,0,0,0
CHHATTISGARH,478,344,2,0,6,0
D & N HAVELI,3,3,0,0,3,1
DAMAN & DIU,0,0,0,0,0,0
DELHI,0,0,0,0,0,0
GOA,0,1,0,0,0,0
GUJARAT,216,156,3,0,90,65
HARYANA,0,0,0,0,0,0
HIMACHAL PRADESH,2,0,0,0,2,3
JAMMU & KASHMIR,0,0,0,0,0,0
JHARKHAND,262,154,0,0,20,133
KARNATAKA,59,209,13,1,204,164
KERALA,69,114,0,0,14,10
LAKSHADWEEP,0,0,0,0,0,0
MADHYA PRADESH,1290,1218,2,0,243,0
MAHARASHTRA,197,254,0,1,41,53
MANIPUR,0,2,0,0,0,0
MEGHALAYA,0,0,0,0,0,0
MIZORAM,10,0,0,0,0,0
NAGALAND,310,0,0,0,0,0
ODISHA,577,109,4,0,153,579
PUDUCHERRY,0,0,0,0,0,0
PUNJAB,0,0,0,0,0,0
RAJASTHAN,358,1320,0,0,665,31
SIKKIM,6,4,0,0,0,0
TAMIL NADU,7,22,0,0,2,5
TRIPURA,0,29,0,0,0,0
UTTAR PRADESH,179,32,0,0,75,12
UTTARAKHAND,9,0,0,0,9,3
WEST BENGAL,1,86,0,0,1,5

In [45]:
Modified_df_3['Population of 2001'] = population_of_2001
Modified_df_3['Population of 2012'] = population_of_2012
Modified_df_3['Literacy rate of 2001'] = literacy_rate_2001
Modified_df_3['Literacy rate of 2012'] = literacy_rate_2012
Modified_df_3['Poverty rate of 2001'] = Poverty_rate_2001
Modified_df_3['Poverty rate of 2012'] = Poverty_rate_2012

In [46]:
Modified_df_3['Growth/Decrease in Population(%)'] = np.where(Modified_df_3['Population of 2001'] == 0, 0, 
                                                     round(((Modified_df_3['Population of 2012'] - Modified_df_3['Population of 2001']) / Modified_df_3['Population of 2001']) * 100, 2))

Modified_df_3['Growth/Decrease in Literacy rate(%)'] = np.where(Modified_df_3['Literacy rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_3['Literacy rate of 2012'] - Modified_df_3['Literacy rate of 2001']) / Modified_df_3['Literacy rate of 2001']) * 100, 2))


Modified_df_3['Growth/Decrease in Pverty rate(%)'] = np.where(Modified_df_3['Poverty rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_3['Poverty rate of 2012'] - Modified_df_3['Poverty rate of 2001']) / Modified_df_3['Poverty rate of 2001']) * 100, 2))


Modified_df_3['Growth/Decrease in ST crime(%)'] = np.where(Modified_df_3['2001 total ST crimes'] == 0, 0, 
                                                     round(((Modified_df_3['2012 total ST crimes'] - Modified_df_3['2001 total ST crimes']) / Modified_df_3['2001 total ST crimes']) * 100, 2))

In [47]:
df_3 = Modified_df_3.reset_index(drop=True)
df_3

Year,2001 total ST crimes,2012 total ST crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in ST crime(%)
0,1,2,0,0,0,2,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,100.00
1,357,539,26,0,129,127,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,50.98
2,72,10,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,-86.11
3,0,0,0,0,0,0,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,0.00
4,29,1,8,0,10,118,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-96.55
5,0,0,0,0,0,0,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,478,344,2,0,6,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-28.03
7,3,3,0,0,3,1,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,0,0,0,0,0,0,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,0,1,0,0,0,0,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,216,156,3,0,90,65,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-27.78
12,0,0,0,0,0,0,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,0.00
13,2,0,0,0,2,3,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-100.00
14,0,0,0,0,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,0.00
15,262,154,0,0,20,133,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,-41.22
16,59,209,13,1,204,164,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,254.24
17,69,114,0,0,14,10,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,65.22
18,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,1290,1218,2,0,243,0,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-5.58
20,197,254,0,1,41,53,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,28.93
21,0,2,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,10,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,310,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,577,109,4,0,153,579,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-81.11
26,0,0,0,0,0,0,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,0,0,0,0,0,0,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,0.00
28,358,1320,0,0,665,31,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,268.72
29,6,4,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-33.33
30,7,22,0,0,2,5,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,214.29
31,0,29,0,0,0,0,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,0.00
32,179,32,0,0,75,12,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-82.12
33,9,0,0,0,9,3,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-100.00
34,1,86,0,0,1,5,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,8500.00

In [48]:
state_name = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM','BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI','DAMAN & DIU','DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH','JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA','LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR','MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY','PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA','UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
df_3['state_name'] = state_name
df_3

Year,2001 total ST crimes,2012 total ST crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in ST crime(%),state_name
0,1,2,0,0,0,2,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,100.00,A & N ISLANDS
1,357,539,26,0,129,127,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,50.98,ANDHRA PRADESH
2,72,10,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,-86.11,ARUNACHAL PRADESH
3,0,0,0,0,0,0,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,0.00,ASSAM
4,29,1,8,0,10,118,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-96.55,BIHAR
5,0,0,0,0,0,0,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00,CHANDIGARH
6,478,344,2,0,6,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-28.03,CHHATTISGARH
7,3,3,0,0,3,1,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00,D & N HAVELI
8,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00,DAMAN & DIU
9,0,0,0,0,0,0,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00,DELHI
10,0,1,0,0,0,0,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00,GOA
11,216,156,3,0,90,65,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-27.78,GUJARAT
12,0,0,0,0,0,0,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,0.00,HARYANA
13,2,0,0,0,2,3,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-100.00,HIMACHAL PRADESH
14,0,0,0,0,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,0.00,JAMMU & KASHMIR
15,262,154,0,0,20,133,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,-41.22,JHARKHAND
16,59,209,13,1,204,164,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,254.24,KARNATAKA
17,69,114,0,0,14,10,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,65.22,KERALA
18,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00,LAKSHADWEEP
19,1290,1218,2,0,243,0,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-5.58,MADHYA PRADESH
20,197,254,0,1,41,53,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,28.93,MAHARASHTRA
21,0,2,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00,MANIPUR
22,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00,MEGHALAYA
23,10,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00,MIZORAM
24,310,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00,NAGALAND
25,577,109,4,0,153,579,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-81.11,ODISHA
26,0,0,0,0,0,0,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00,PUDUCHERRY
27,0,0,0,0,0,0,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,0.00,PUNJAB
28,358,1320,0,0,665,31,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,268.72,RAJASTHAN
29,6,4,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-33.33,SIKKIM
30,7,22,0,0,2,5,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,214.29,TAMIL NADU
31,0,29,0,0,0,0,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,0.00,TRIPURA
32,179,32,0,0,75,12,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-82.12,UTTAR PRADESH
33,9,0,0,0,9,3,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-100.00,UTTARAKHAND
34,1,86,0,0,1,5,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,8500.00,WEST BENGAL

In [49]:
last_col_name = df_3.columns[-1]  # Access the last element of the columns list

# Reorder the columns by placing the last column at the beginning
new_column_order = [last_col_name] + list(df_3.columns[:-1])  # Concatenate with remaining columns

df_3 = df_3[new_column_order]

In [50]:
df_3

Year,state_name,2001 total ST crimes,2012 total ST crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in ST crime(%)
0,A & N ISLANDS,1,2,0,0,0,2,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,100.00
1,ANDHRA PRADESH,357,539,26,0,129,127,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,50.98
2,ARUNACHAL PRADESH,72,10,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,-86.11
3,ASSAM,0,0,0,0,0,0,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,0.00
4,BIHAR,29,1,8,0,10,118,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-96.55
5,CHANDIGARH,0,0,0,0,0,0,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,CHHATTISGARH,478,344,2,0,6,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-28.03
7,D & N HAVELI,3,3,0,0,3,1,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,DELHI,0,0,0,0,0,0,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,GOA,0,1,0,0,0,0,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,GUJARAT,216,156,3,0,90,65,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-27.78
12,HARYANA,0,0,0,0,0,0,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,0.00
13,HIMACHAL PRADESH,2,0,0,0,2,3,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-100.00
14,JAMMU & KASHMIR,0,0,0,0,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,0.00
15,JHARKHAND,262,154,0,0,20,133,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,-41.22
16,KARNATAKA,59,209,13,1,204,164,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,254.24
17,KERALA,69,114,0,0,14,10,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,65.22
18,LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,MADHYA PRADESH,1290,1218,2,0,243,0,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-5.58
20,MAHARASHTRA,197,254,0,1,41,53,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,28.93
21,MANIPUR,0,2,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,MIZORAM,10,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,NAGALAND,310,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,ODISHA,577,109,4,0,153,579,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-81.11
26,PUDUCHERRY,0,0,0,0,0,0,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,PUNJAB,0,0,0,0,0,0,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,0.00
28,RAJASTHAN,358,1320,0,0,665,31,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,268.72
29,SIKKIM,6,4,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-33.33
30,TAMIL NADU,7,22,0,0,2,5,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,214.29
31,TRIPURA,0,29,0,0,0,0,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,0.00
32,UTTAR PRADESH,179,32,0,0,75,12,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-82.12
33,UTTARAKHAND,9,0,0,0,9,3,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-100.00
34,WEST BENGAL,1,86,0,0,1,5,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,8500.00

In [52]:
ST_crime_data_2001_2012 = df_3.copy()
ST_crime_data_2001_2012

Year,state_name,2001 total ST crimes,2012 total ST crimes,2001 total PCR act,2012 total PCR act,2001 total POA acts,2012 total POA acts,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in ST crime(%)
0,A & N ISLANDS,1,2,0,0,0,2,356152,381174,81.30,86.6,0.36,1.57,7.03,6.52,336.11,100.00
1,ANDHRA PRADESH,357,539,26,0,129,127,76200000,85000000,60.47,67.7,4.19,9.20,11.55,11.96,119.57,50.98
2,ARUNACHAL PRADESH,72,10,0,0,0,0,1098000,1403000,54.30,67.0,22.60,34.70,27.78,23.39,53.54,-86.11
3,ASSAM,0,0,0,0,0,0,26655528,31169272,63.30,73.3,35.32,31.98,16.93,15.80,-9.46,0.00
4,BIHAR,29,1,8,0,10,118,82998509,103804637,47.00,63.8,42.60,33.70,25.07,35.74,-20.89,-96.55
5,CHANDIGARH,0,0,0,0,0,0,900635,995000,81.90,86.4,5.00,21.81,10.48,5.49,336.20,0.00
6,CHHATTISGARH,478,344,2,0,6,0,20833803,25540196,64.70,71.0,40.20,39.93,22.59,9.74,-0.67,-28.03
7,D & N HAVELI,3,3,0,0,3,1,220490,350000,57.60,77.7,17.14,17.14,58.74,34.90,0.00,0.00
8,DAMAN & DIU,0,0,0,0,0,0,158204,195000,78.20,87.1,34.20,5.09,23.26,11.38,-85.12,0.00
9,DELHI,0,0,0,0,0,0,13850507,16896984,81.67,86.3,25.00,9.91,22.00,5.67,-60.36,0.00
10,GOA,0,1,0,0,0,0,1343998,1457723,82.00,87.4,9.90,5.09,8.46,6.59,-48.59,0.00
11,GUJARAT,216,156,3,0,90,65,41310000,60383628,69.10,79.3,33.00,16.60,46.17,14.76,-49.70,-27.78
12,HARYANA,0,0,0,0,0,0,21144564,25353081,57.90,76.6,24.11,11.20,19.90,32.30,-53.55,0.00
13,HIMACHAL PRADESH,2,0,0,0,2,3,6077900,6856509,76.50,83.8,23.00,8.10,12.81,9.54,-64.78,-100.00
14,JAMMU & KASHMIR,0,0,0,0,0,0,10143700,12548926,55.50,68.7,19.56,10.30,23.71,23.78,-47.34,0.00
15,JHARKHAND,262,154,0,0,20,133,26945829,32966238,53.60,67.6,47.00,37.00,22.34,26.12,-21.28,-41.22
16,KARNATAKA,59,209,13,1,204,164,52850562,61130704,66.60,75.6,31.00,20.90,15.67,13.51,-32.58,254.24
17,KERALA,69,114,0,0,14,10,31841374,33387677,90.90,93.9,20.80,7.10,4.86,3.30,-65.87,65.22
18,LAKSHADWEEP,0,0,0,0,0,0,60650,65000,86.70,92.2,1.60,2.77,7.17,6.34,73.12,0.00
19,MADHYA PRADESH,1290,1218,2,0,243,0,60348203,72597565,63.70,70.6,35.00,31.60,20.30,10.83,-9.71,-5.58
20,MAHARASHTRA,197,254,0,1,41,53,96878627,112372972,76.90,82.9,24.00,17.40,15.99,7.80,-27.50,28.93
21,MANIPUR,0,2,0,0,0,0,2293896,2721756,70.50,79.8,49.96,36.90,18.65,13.19,-26.14,0.00
22,MEGHALAYA,0,0,0,0,0,0,2318822,2964007,62.50,75.5,50.00,11.90,27.82,20.80,-76.20,0.00
23,MIZORAM,10,0,0,0,0,0,888573,1091014,88.80,91.6,53.00,20.40,22.78,3.15,-61.51,-100.00
24,NAGALAND,310,0,0,0,0,0,1990036,1980602,66.60,80.1,17.00,18.90,-0.47,20.27,11.18,-100.00
25,ODISHA,577,109,4,0,153,579,36800000,41947358,63.10,73.5,47.15,32.60,13.99,16.48,-30.86,-81.11
26,PUDUCHERRY,0,0,0,0,0,0,974345,681000,81.20,86.5,20.88,15.00,-30.11,6.53,-28.16,0.00
27,PUNJAB,0,0,0,0,0,0,24358999,27704236,69.70,76.7,17.00,8.30,13.73,10.04,-51.18,0.00
28,RAJASTHAN,358,1320,0,0,665,31,68548437,68621012,60.10,67.1,19.85,14.70,0.11,11.65,-25.94,268.72
29,SIKKIM,6,4,0,0,0,0,540493,607688,68.80,82.2,36.55,8.20,12.43,19.48,-77.56,-33.33
30,TAMIL NADU,7,22,0,0,2,5,62405679,72138958,73.50,80.3,22.00,11.30,15.60,9.25,-48.64,214.29
31,TRIPURA,0,29,0,0,0,0,3199203,3671037,73.20,87.8,55.00,14.00,14.75,19.95,-74.55,0.00
32,UTTAR PRADESH,179,32,0,0,75,12,166197921,199581477,56.30,69.7,40.00,29.40,20.09,23.80,-26.50,-82.12
33,UTTARAKHAND,9,0,0,0,9,3,8489349,10116752,71.60,79.6,34.00,11.30,19.17,11.17,-66.76,-100.00
34,WEST BENGAL,1,86,0,0,1,5,80176192,91347736,68.60,77.1,40.00,20.00,13.93,12.39,-50.00,8500.00

In [53]:
filename = 'ST_crime_data_2001_2012.csv'

# Save the DataFrame to a CSV file
ST_crime_data_2001_2012.to_csv(filename, index=False)

# 4) District_wise_crimes_committed_against_children_2001_2012 :

In [74]:
df_4 = pd.read_csv('03_District_wise_crimes_committed_against_children_2001_2012.csv')
df_4

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [75]:
New_df_4 = df_4[df_4['DISTRICT']=='TOTAL']
New_df_4

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
28,ANDHRA PRADESH,TOTAL,2001,35.0,84.0,57.0,0.0,7.0,22.0,12.0,0.0,0.0,6.0,47.0,270
42,ARUNACHAL PRADESH,TOTAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,ASSAM,TOTAL,2001,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18
115,BIHAR,TOTAL,2001,2.0,16.0,26.0,0.0,0.0,1.0,16.0,1.0,1.0,2.0,18.0,83
137,GOA,TOTAL,2001,1.0,10.0,6.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,12.0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8988,D & N HAVELI,TOTAL,2012,1.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
8991,DAMAN & DIU,TOTAL,2012,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,8
9009,DELHI,TOTAL,2012,41.0,415.0,3686.0,2.0,0.0,68.0,3.0,1.0,4.0,1.0,241.0,4462
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [76]:
New_df_4 = New_df_4.sort_values(by = ['STATE/UT'])
New_df_4

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
5080,A & N ISLANDS,TOTAL,2007,0.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
8984,A & N ISLANDS,TOTAL,2012,1.0,10.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,28
1408,A & N ISLANDS,TOTAL,2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8173,A & N ISLANDS,TOTAL,2011,1.0,9.0,11.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,31
2136,A & N ISLANDS,TOTAL,2003,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5834,WEST BENGAL,TOTAL,2008,19.0,129.0,196.0,1.0,0.0,1.0,53.0,2.0,41.0,6.0,65.0,513
6600,WEST BENGAL,TOTAL,2009,20.0,109.0,199.0,0.0,0.0,0.0,41.0,2.0,49.0,0.0,64.0,484
4335,WEST BENGAL,TOTAL,2006,3.0,20.0,156.0,0.0,0.0,3.0,77.0,4.0,114.0,6.0,49.0,432
2862,WEST BENGAL,TOTAL,2004,2.0,19.0,99.0,0.0,1.0,0.0,13.0,9.0,12.0,8.0,43.0,206
3596,WEST BENGAL,TOTAL,2005,2.0,6.0,102.0,0.0,1.0,0.0,20.0,2.0,44.0,2.0,57.0,236

In [77]:
New_df_4.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Murder', 'Rape',
       'Kidnapping and Abduction', 'Foeticide', 'Abetment of suicide',
       'Exposure and abandonment', 'Procuration of minor girls',
       'Buying of girls for prostitution', 'Selling of girls for prostitution',
       'Prohibition of child marriage act', 'Other Crimes', 'Total'],
      dtype='object')

In [78]:
M_df_4 = New_df_4[['STATE/UT', 'DISTRICT', 'Year','Total']]
M_df_4

           STATE/UT DISTRICT  Year  Total
5080  A & N ISLANDS    TOTAL  2007     10
8984  A & N ISLANDS    TOTAL  2012     28
1408  A & N ISLANDS    TOTAL  2002      0
8173  A & N ISLANDS    TOTAL  2011     31
2136  A & N ISLANDS    TOTAL  2003      6
...             ...      ...   ...    ...
5834    WEST BENGAL    TOTAL  2008    513
6600    WEST BENGAL    TOTAL  2009    484
4335    WEST BENGAL    TOTAL  2006    432
2862    WEST BENGAL    TOTAL  2004    206
3596    WEST BENGAL    TOTAL  2005    236

[412 rows x 4 columns]

In [79]:
Modified_df_4 = M_df_4[M_df_4['Year'].isin([2001 , 2012])]
Modified_df_4 = Modified_df_4.drop('DISTRICT' , axis = 1)
Modified_df_4

               STATE/UT  Year  Total
8984      A & N ISLANDS  2012     28
690       A & N ISLANDS  2001      0
28       ANDHRA PRADESH  2001    270
8237     ANDHRA PRADESH  2012   2274
8255  ARUNACHAL PRADESH  2012     39
...                 ...   ...    ...
8936      UTTAR PRADESH  2012   6033
8950        UTTARAKHAND  2012    122
663         UTTARAKHAND  2001     46
687         WEST BENGAL  2001    167
8980        WEST BENGAL  2012   1706

[68 rows x 3 columns]

In [80]:
reshaped_df = Modified_df_4.pivot_table(values='Total', index='STATE/UT', columns='Year', aggfunc=sum)
reshaped_df

Year                 2001    2012
STATE/UT
A & N ISLANDS         0.0    28.0
ANDHRA PRADESH      270.0  2274.0
ARUNACHAL PRADESH     0.0    39.0
ASSAM                18.0   392.0
BIHAR                83.0  2894.0
CHANDIGARH           58.0    96.0
CHHATTISGARH          NaN  1881.0
D & N HAVELI          0.0     8.0
DAMAN & DIU           0.0     8.0
DELHI                 NaN  4462.0
GOA                  34.0   122.0
GUJARAT             572.0  1327.0
HARYANA             363.0  1015.0
HIMACHAL PRADESH     82.0   266.0
JAMMU & KASHMIR      28.0    40.0
JHARKHAND            41.0   113.0
KARNATAKA            68.0   875.0
KERALA              247.0  1324.0
LAKSHADWEEP           1.0     0.0
MADHYA PRADESH     1425.0  5168.0
MAHARASHTRA        1621.0  3456.0
MANIPUR               0.0   104.0
MEGHALAYA             0.0    91.0
MIZORAM               0.0    95.0
NAGALAND              0.0    13.0
ODISHA               68.0   418.0
PUDUCHERRY            5.0    32.0
PUNJAB              123.0   877.0
RAJASTHAN           218.0  1807.0
SIKKIM                5.0    30.0
TAMIL NADU           61.0  1036.0
TRIPURA               0.0    20.0
UTTAR PRADESH      3709.0  6033.0
UTTARAKHAND          46.0   122.0
WEST BENGAL         167.0  1706.0

In [81]:
reshaped_df.fillna(500.0,  inplace = True)
reshaped_df

Year                 2001    2012
STATE/UT
A & N ISLANDS         0.0    28.0
ANDHRA PRADESH      270.0  2274.0
ARUNACHAL PRADESH     0.0    39.0
ASSAM                18.0   392.0
BIHAR                83.0  2894.0
CHANDIGARH           58.0    96.0
CHHATTISGARH        500.0  1881.0
D & N HAVELI          0.0     8.0
DAMAN & DIU           0.0     8.0
DELHI               500.0  4462.0
GOA                  34.0   122.0
GUJARAT             572.0  1327.0
HARYANA             363.0  1015.0
HIMACHAL PRADESH     82.0   266.0
JAMMU & KASHMIR      28.0    40.0
JHARKHAND            41.0   113.0
KARNATAKA            68.0   875.0
KERALA              247.0  1324.0
LAKSHADWEEP           1.0     0.0
MADHYA PRADESH     1425.0  5168.0
MAHARASHTRA        1621.0  3456.0
MANIPUR               0.0   104.0
MEGHALAYA             0.0    91.0
MIZORAM               0.0    95.0
NAGALAND              0.0    13.0
ODISHA               68.0   418.0
PUDUCHERRY            5.0    32.0
PUNJAB              123.0   877.0
RAJASTHAN           218.0  1807.0
SIKKIM                5.0    30.0
TAMIL NADU           61.0  1036.0
TRIPURA               0.0    20.0
UTTAR PRADESH      3709.0  6033.0
UTTARAKHAND          46.0   122.0
WEST BENGAL         167.0  1706.0

In [82]:
columns =  [2001,2012]
for col in columns :
    reshaped_df[col]=  reshaped_df[col].astype(int)

In [83]:
reshaped_df

Year               2001  2012
STATE/UT
A & N ISLANDS         0    28
ANDHRA PRADESH      270  2274
ARUNACHAL PRADESH     0    39
ASSAM                18   392
BIHAR                83  2894
CHANDIGARH           58    96
CHHATTISGARH        500  1881
D & N HAVELI          0     8
DAMAN & DIU           0     8
DELHI               500  4462
GOA                  34   122
GUJARAT             572  1327
HARYANA             363  1015
HIMACHAL PRADESH     82   266
JAMMU & KASHMIR      28    40
JHARKHAND            41   113
KARNATAKA            68   875
KERALA              247  1324
LAKSHADWEEP           1     0
MADHYA PRADESH     1425  5168
MAHARASHTRA        1621  3456
MANIPUR               0   104
MEGHALAYA             0    91
MIZORAM               0    95
NAGALAND              0    13
ODISHA               68   418
PUDUCHERRY            5    32
PUNJAB              123   877
RAJASTHAN           218  1807
SIKKIM                5    30
TAMIL NADU           61  1036
TRIPURA               0    20
UTTAR PRADESH      3709  6033
UTTARAKHAND          46   122
WEST BENGAL         167  1706

In [84]:
reshaped_df['Population of 2001'] = population_of_2001
reshaped_df['Population of 2012'] = population_of_2012
reshaped_df['Literacy rate of 2001'] = literacy_rate_2001
reshaped_df['Literacy rate of 2012'] = literacy_rate_2012
reshaped_df['Poverty rate of 2001'] = Poverty_rate_2001
reshaped_df['Poverty rate of 2012'] = Poverty_rate_2012
reshaped_df['Child labour 2001'] = Child_labour_2001
reshaped_df['Child labour 2012'] = Child_labour_2012

In [85]:
reshaped_df

Year,2001,2012,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012
STATE/UT,,,,,,,,,,
A & N ISLANDS,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999
ANDHRA PRADESH,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851
ARUNACHAL PRADESH,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766
ASSAM,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512
BIHAR,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590
CHANDIGARH,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135
CHHATTISGARH,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884
D & N HAVELI,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054
DAMAN & DIU,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774
DELHI,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000
GOA,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920
GUJARAT,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318
HARYANA,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492
HIMACHAL PRADESH,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001
JAMMU & KASHMIR,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528
JHARKHAND,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996
KARNATAKA,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432
KERALA,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757
LAKSHADWEEP,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28
MADHYA PRADESH,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310
MAHARASHTRA,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916
MANIPUR,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805
MEGHALAYA,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839
MIZORAM,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793
NAGALAND,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062
ODISHA,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087
PUDUCHERRY,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421
PUNJAB,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353
RAJASTHAN,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338
SIKKIM,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704
TAMIL NADU,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437
TRIPURA,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998
UTTAR PRADESH,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301
UTTARAKHAND,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098
WEST BENGAL,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275

In [86]:
new_column_names = {2001: '2001 crime against children', 2012: '2012 crime against children'}
reshaped_df = reshaped_df.rename(columns=new_column_names)
reshaped_df

Year,2001 crime against children,2012 crime against children,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012
STATE/UT,,,,,,,,,,
A & N ISLANDS,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999
ANDHRA PRADESH,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851
ARUNACHAL PRADESH,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766
ASSAM,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512
BIHAR,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590
CHANDIGARH,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135
CHHATTISGARH,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884
D & N HAVELI,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054
DAMAN & DIU,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774
DELHI,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000
GOA,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920
GUJARAT,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318
HARYANA,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492
HIMACHAL PRADESH,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001
JAMMU & KASHMIR,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528
JHARKHAND,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996
KARNATAKA,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432
KERALA,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757
LAKSHADWEEP,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28
MADHYA PRADESH,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310
MAHARASHTRA,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916
MANIPUR,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805
MEGHALAYA,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839
MIZORAM,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793
NAGALAND,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062
ODISHA,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087
PUDUCHERRY,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421
PUNJAB,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353
RAJASTHAN,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338
SIKKIM,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704
TAMIL NADU,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437
TRIPURA,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998
UTTAR PRADESH,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301
UTTARAKHAND,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098
WEST BENGAL,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275

In [87]:
reshaped_df['Growth/Decrease in Population(%)'] = np.where(reshaped_df['Population of 2001'] == 0, 0, 
                                                     round(((reshaped_df['Population of 2012'] - reshaped_df['Population of 2001']) / reshaped_df['Population of 2001']) * 100, 2))

reshaped_df['Growth/Decrease in Literacy rate(%)'] = np.where(reshaped_df['Literacy rate of 2001'] == 0, 0, 
                                                     round(((reshaped_df['Literacy rate of 2012'] - reshaped_df['Literacy rate of 2001']) / reshaped_df['Literacy rate of 2001']) * 100, 2))


reshaped_df['Growth/Decrease in Pverty rate(%)'] = np.where(reshaped_df['Poverty rate of 2001'] == 0, 0, 
                                                     round(((reshaped_df['Poverty rate of 2012'] - reshaped_df['Poverty rate of 2001']) / reshaped_df['Poverty rate of 2001']) * 100, 2))

reshaped_df['Growth/Decrease in Child labour(%)'] = np.where(reshaped_df['Child labour 2001'] == 0, 0, 
                                                     round(((reshaped_df['Child labour 2012'] - reshaped_df['Child labour 2001']) / reshaped_df['Child labour 2012']) * 100, 2))


reshaped_df['Growth/Decrease in crime against children(%)'] = np.where(reshaped_df['2001 crime against children'] == 0, 0, 
                                                     round(((reshaped_df['2012 crime against children'] - reshaped_df['2001 crime against children']) / reshaped_df['2001 crime against children']) * 100, 2))

In [88]:
reshaped_df

Year,2001 crime against children,2012 crime against children,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in Child labour(%),Growth/Decrease in crime against children(%)
STATE/UT,,,,,,,,,,,,,,,
A & N ISLANDS,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999,7.03,6.52,336.11,-96.20,0.00
ANDHRA PRADESH,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851,11.55,11.96,119.57,-236.75,742.22
ARUNACHAL PRADESH,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766,27.78,23.39,53.54,-220.53,0.00
ASSAM,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512,16.93,15.80,-9.46,-253.14,2077.78
BIHAR,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590,25.07,35.74,-20.89,-147.46,3386.75
CHANDIGARH,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135,10.48,5.49,336.20,-20.54,65.52
CHHATTISGARH,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884,22.59,9.74,-0.67,-470.68,276.20
D & N HAVELI,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054,58.74,34.90,0.00,-305.50,0.00
DAMAN & DIU,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774,23.26,11.38,-85.12,5.81,0.00
DELHI,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000,22.00,5.67,-60.36,-16.39,792.40
GOA,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920,8.46,6.59,-48.59,40.20,258.82
GUJARAT,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318,46.17,14.76,-49.70,-93.97,131.99
HARYANA,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492,19.90,32.30,-53.55,-373.89,179.61
HIMACHAL PRADESH,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001,12.81,9.54,-64.78,-618.45,224.39
JAMMU & KASHMIR,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528,23.71,23.78,-47.34,-587.99,42.86
JHARKHAND,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996,22.34,26.12,-21.28,-347.49,175.61
KARNATAKA,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432,15.67,13.51,-32.58,-229.80,1186.76
KERALA,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757,4.86,3.30,-65.87,-20.22,436.03
LAKSHADWEEP,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28,7.17,6.34,73.12,3.57,-100.00
MADHYA PRADESH,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310,20.30,10.83,-9.71,-272.06,262.67
MAHARASHTRA,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916,15.99,7.80,-27.50,-53.76,113.20
MANIPUR,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805,18.65,13.19,-26.14,-144.27,0.00
MEGHALAYA,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839,27.82,20.80,-76.20,-186.32,0.00
MIZORAM,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793,22.78,3.15,-61.51,-840.39,0.00
NAGALAND,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062,-0.47,20.27,11.18,-314.70,0.00
ODISHA,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087,13.99,16.48,-30.86,-310.04,514.71
PUDUCHERRY,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421,-30.11,6.53,-28.16,-33.99,540.00
PUNJAB,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353,13.73,10.04,-51.18,-96.19,613.01
RAJASTHAN,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338,0.11,11.65,-25.94,-400.35,728.90
SIKKIM,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704,12.43,19.48,-77.56,-508.62,500.00
TAMIL NADU,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437,15.60,9.25,-48.64,-176.55,1598.36
TRIPURA,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998,14.75,19.95,-74.55,-335.29,0.00
UTTAR PRADESH,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301,20.09,23.80,-26.50,-115.11,62.66
UTTARAKHAND,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098,19.17,11.17,-66.76,-149.78,165.22
WEST BENGAL,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275,13.93,12.39,-50.00,-265.85,921.56

In [89]:
df = reshaped_df.reset_index(drop=True)
df

Year,2001 crime against children,2012 crime against children,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in Child labour(%),Growth/Decrease in crime against children(%)
0,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999,7.03,6.52,336.11,-96.20,0.00
1,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851,11.55,11.96,119.57,-236.75,742.22
2,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766,27.78,23.39,53.54,-220.53,0.00
3,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512,16.93,15.80,-9.46,-253.14,2077.78
4,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590,25.07,35.74,-20.89,-147.46,3386.75
5,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135,10.48,5.49,336.20,-20.54,65.52
6,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884,22.59,9.74,-0.67,-470.68,276.20
7,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054,58.74,34.90,0.00,-305.50,0.00
8,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774,23.26,11.38,-85.12,5.81,0.00
9,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000,22.00,5.67,-60.36,-16.39,792.40
10,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920,8.46,6.59,-48.59,40.20,258.82
11,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318,46.17,14.76,-49.70,-93.97,131.99
12,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492,19.90,32.30,-53.55,-373.89,179.61
13,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001,12.81,9.54,-64.78,-618.45,224.39
14,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528,23.71,23.78,-47.34,-587.99,42.86
15,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996,22.34,26.12,-21.28,-347.49,175.61
16,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432,15.67,13.51,-32.58,-229.80,1186.76
17,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757,4.86,3.30,-65.87,-20.22,436.03
18,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28,7.17,6.34,73.12,3.57,-100.00
19,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310,20.30,10.83,-9.71,-272.06,262.67
20,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916,15.99,7.80,-27.50,-53.76,113.20
21,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805,18.65,13.19,-26.14,-144.27,0.00
22,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839,27.82,20.80,-76.20,-186.32,0.00
23,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793,22.78,3.15,-61.51,-840.39,0.00
24,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062,-0.47,20.27,11.18,-314.70,0.00
25,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087,13.99,16.48,-30.86,-310.04,514.71
26,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421,-30.11,6.53,-28.16,-33.99,540.00
27,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353,13.73,10.04,-51.18,-96.19,613.01
28,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338,0.11,11.65,-25.94,-400.35,728.90
29,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704,12.43,19.48,-77.56,-508.62,500.00
30,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437,15.60,9.25,-48.64,-176.55,1598.36
31,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998,14.75,19.95,-74.55,-335.29,0.00
32,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301,20.09,23.80,-26.50,-115.11,62.66
33,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098,19.17,11.17,-66.76,-149.78,165.22
34,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275,13.93,12.39,-50.00,-265.85,921.56

In [90]:
state_name = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM','BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI','DAMAN & DIU', 'DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH','JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA','LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR','MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY','PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA','UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
df['state_name'] = state_name
df

Year,2001 crime against children,2012 crime against children,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in Child labour(%),Growth/Decrease in crime against children(%),state_name
0,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999,7.03,6.52,336.11,-96.20,0.00,A & N ISLANDS
1,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851,11.55,11.96,119.57,-236.75,742.22,ANDHRA PRADESH
2,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766,27.78,23.39,53.54,-220.53,0.00,ARUNACHAL PRADESH
3,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512,16.93,15.80,-9.46,-253.14,2077.78,ASSAM
4,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590,25.07,35.74,-20.89,-147.46,3386.75,BIHAR
5,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135,10.48,5.49,336.20,-20.54,65.52,CHANDIGARH
6,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884,22.59,9.74,-0.67,-470.68,276.20,CHHATTISGARH
7,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054,58.74,34.90,0.00,-305.50,0.00,D & N HAVELI
8,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774,23.26,11.38,-85.12,5.81,0.00,DAMAN & DIU
9,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000,22.00,5.67,-60.36,-16.39,792.40,DELHI
10,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920,8.46,6.59,-48.59,40.20,258.82,GOA
11,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318,46.17,14.76,-49.70,-93.97,131.99,GUJARAT
12,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492,19.90,32.30,-53.55,-373.89,179.61,HARYANA
13,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001,12.81,9.54,-64.78,-618.45,224.39,HIMACHAL PRADESH
14,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528,23.71,23.78,-47.34,-587.99,42.86,JAMMU & KASHMIR
15,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996,22.34,26.12,-21.28,-347.49,175.61,JHARKHAND
16,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432,15.67,13.51,-32.58,-229.80,1186.76,KARNATAKA
17,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757,4.86,3.30,-65.87,-20.22,436.03,KERALA
18,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28,7.17,6.34,73.12,3.57,-100.00,LAKSHADWEEP
19,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310,20.30,10.83,-9.71,-272.06,262.67,MADHYA PRADESH
20,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916,15.99,7.80,-27.50,-53.76,113.20,MAHARASHTRA
21,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805,18.65,13.19,-26.14,-144.27,0.00,MANIPUR
22,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839,27.82,20.80,-76.20,-186.32,0.00,MEGHALAYA
23,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793,22.78,3.15,-61.51,-840.39,0.00,MIZORAM
24,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062,-0.47,20.27,11.18,-314.70,0.00,NAGALAND
25,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087,13.99,16.48,-30.86,-310.04,514.71,ODISHA
26,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421,-30.11,6.53,-28.16,-33.99,540.00,PUDUCHERRY
27,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353,13.73,10.04,-51.18,-96.19,613.01,PUNJAB
28,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338,0.11,11.65,-25.94,-400.35,728.90,RAJASTHAN
29,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704,12.43,19.48,-77.56,-508.62,500.00,SIKKIM
30,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437,15.60,9.25,-48.64,-176.55,1598.36,TAMIL NADU
31,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998,14.75,19.95,-74.55,-335.29,0.00,TRIPURA
32,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301,20.09,23.80,-26.50,-115.11,62.66,UTTAR PRADESH
33,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098,19.17,11.17,-66.76,-149.78,165.22,UTTARAKHAND
34,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275,13.93,12.39,-50.00,-265.85,921.56,WEST BENGAL

In [91]:
last_col_name = df.columns[-1]  # Access the last element of the columns list

# Reorder the columns by placing the last column at the beginning
new_column_order = [last_col_name] + list(df.columns[:-1])  # Concatenate with remaining columns

df = df[new_column_order]

In [92]:
Crimes_Against_children_2001_2012 = df.copy()
Crimes_Against_children_2001_2012

Year,state_name,2001 crime against children,2012 crime against children,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Child labour 2001,Child labour 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in Child labour(%),Growth/Decrease in crime against children(%)
0,A & N ISLANDS,0,28,356152,381174,81.30,86.6,0.36,1.57,1960,999,7.03,6.52,336.11,-96.20,0.00
1,ANDHRA PRADESH,270,2274,76200000,85000000,60.47,67.7,4.19,9.20,1363339,404851,11.55,11.96,119.57,-236.75,742.22
2,ARUNACHAL PRADESH,0,39,1098000,1403000,54.30,67.0,22.60,34.70,18482,5766,27.78,23.39,53.54,-220.53,0.00
3,ASSAM,18,392,26655528,31169272,63.30,73.3,35.32,31.98,351416,99512,16.93,15.80,-9.46,-253.14,2077.78
4,BIHAR,83,2894,82998509,103804637,47.00,63.8,42.60,33.70,1117500,451590,25.07,35.74,-20.89,-147.46,3386.75
5,CHANDIGARH,58,96,900635,995000,81.90,86.4,5.00,21.81,3779,3135,10.48,5.49,336.20,-20.54,65.52
6,CHHATTISGARH,500,1881,20833803,25540196,64.70,71.0,40.20,39.93,364572,63884,22.59,9.74,-0.67,-470.68,276.20
7,D & N HAVELI,0,8,220490,350000,57.60,77.7,17.14,17.14,4274,1054,58.74,34.90,0.00,-305.50,0.00
8,DAMAN & DIU,0,8,158204,195000,78.20,87.1,34.20,5.09,729,774,23.26,11.38,-85.12,5.81,0.00
9,DELHI,500,4462,13850507,16896984,81.67,86.3,25.00,9.91,41899,36000,22.00,5.67,-60.36,-16.39,792.40
10,GOA,34,122,1343998,1457723,82.00,87.4,9.90,5.09,4138,6920,8.46,6.59,-48.59,40.20,258.82
11,GUJARAT,572,1327,41310000,60383628,69.10,79.3,33.00,16.60,485530,250318,46.17,14.76,-49.70,-93.97,131.99
12,HARYANA,363,1015,21144564,25353081,57.90,76.6,24.11,11.20,253491,53492,19.90,32.30,-53.55,-373.89,179.61
13,HIMACHAL PRADESH,82,266,6077900,6856509,76.50,83.8,23.00,8.10,107774,15001,12.81,9.54,-64.78,-618.45,224.39
14,JAMMU & KASHMIR,28,40,10143700,12548926,55.50,68.7,19.56,10.30,175630,25528,23.71,23.78,-47.34,-587.99,42.86
15,JHARKHAND,41,113,26945829,32966238,53.60,67.6,47.00,37.00,407200,90996,22.34,26.12,-21.28,-347.49,175.61
16,KARNATAKA,68,875,52850562,61130704,66.60,75.6,31.00,20.90,822615,249432,15.67,13.51,-32.58,-229.80,1186.76
17,KERALA,247,1324,31841374,33387677,90.90,93.9,20.80,7.10,26156,21757,4.86,3.30,-65.87,-20.22,436.03
18,LAKSHADWEEP,1,0,60650,65000,86.70,92.2,1.60,2.77,27,28,7.17,6.34,73.12,3.57,-100.00
19,MADHYA PRADESH,1425,5168,60348203,72597565,63.70,70.6,35.00,31.60,1065259,286310,20.30,10.83,-9.71,-272.06,262.67
20,MAHARASHTRA,1621,3456,96878627,112372972,76.90,82.9,24.00,17.40,764075,496916,15.99,7.80,-27.50,-53.76,113.20
21,MANIPUR,0,104,2293896,2721756,70.50,79.8,49.96,36.90,28836,11805,18.65,13.19,-26.14,-144.27,0.00
22,MEGHALAYA,0,91,2318822,2964007,62.50,75.5,50.00,11.90,53940,18839,27.82,20.80,-76.20,-186.32,0.00
23,MIZORAM,0,95,888573,1091014,88.80,91.6,53.00,20.40,26265,2793,22.78,3.15,-61.51,-840.39,0.00
24,NAGALAND,0,13,1990036,1980602,66.60,80.1,17.00,18.90,45874,11062,-0.47,20.27,11.18,-314.70,0.00
25,ODISHA,68,418,36800000,41947358,63.10,73.5,47.15,32.60,377594,92087,13.99,16.48,-30.86,-310.04,514.71
26,PUDUCHERRY,5,32,974345,681000,81.20,86.5,20.88,15.00,1904,1421,-30.11,6.53,-28.16,-33.99,540.00
27,PUNJAB,123,877,24358999,27704236,69.70,76.7,17.00,8.30,177268,90353,13.73,10.04,-51.18,-96.19,613.01
28,RAJASTHAN,218,1807,68548437,68621012,60.10,67.1,19.85,14.70,1262570,252338,0.11,11.65,-25.94,-400.35,728.90
29,SIKKIM,5,30,540493,607688,68.80,82.2,36.55,8.20,16457,2704,12.43,19.48,-77.56,-508.62,500.00
30,TAMIL NADU,61,1036,62405679,72138958,73.50,80.3,22.00,11.30,418801,151437,15.60,9.25,-48.64,-176.55,1598.36
31,TRIPURA,0,20,3199203,3671037,73.20,87.8,55.00,14.00,21756,4998,14.75,19.95,-74.55,-335.29,0.00
32,UTTAR PRADESH,3709,6033,166197921,199581477,56.30,69.7,40.00,29.40,1927997,896301,20.09,23.80,-26.50,-115.11,62.66
33,UTTARAKHAND,46,122,8489349,10116752,71.60,79.6,34.00,11.30,70183,28098,19.17,11.17,-66.76,-149.78,165.22
34,WEST BENGAL,167,1706,80176192,91347736,68.60,77.1,40.00,20.00,857087,234275,13.93,12.39,-50.00,-265.85,921.56

In [93]:
filename = 'Crimes_Against_children_2001_2012.csv' 
Crimes_Against_children_2001_2012.to_csv(filename, index = False)

# 5) District_wise_crimes_committed_against_women_2001_2012 :

In [106]:
df_5 = pd.read_csv('42_District_wise_crimes_committed_against_women_2001_2012.csv')
df_5

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [107]:
New_df_5 = df_5[df_5['DISTRICT']=='TOTAL']
New_df_5

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
28,ANDHRA PRADESH,TOTAL,2001,871,765,420,3544,2271,5791,7
42,ARUNACHAL PRADESH,TOTAL,2001,33,55,0,78,3,11,0
70,ASSAM,TOTAL,2001,817,1070,59,850,4,1248,0
115,BIHAR,TOTAL,2001,888,518,859,562,21,1558,83
135,CHHATTISGARH,TOTAL,2001,959,171,70,1763,161,840,0
...,...,...,...,...,...,...,...,...,...,...
8988,CHANDIGARH,TOTAL,2012,27,66,5,45,25,73,0
8990,D & N HAVELI,TOTAL,2012,3,9,0,2,0,0,0
8993,DAMAN & DIU,TOTAL,2012,5,0,0,0,0,3,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [108]:
Mm_df_5 = New_df_5[New_df_5['Year'].isin([2001 , 2012])]

In [109]:
M_df_5 = Mm_df_5.drop('DISTRICT' , axis = 1)
M_df_5

,STATE/UT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
28,ANDHRA PRADESH,2001,871,765,420,3544,2271,5791,7
42,ARUNACHAL PRADESH,2001,33,55,0,78,3,11,0
70,ASSAM,2001,817,1070,59,850,4,1248,0
115,BIHAR,2001,888,518,859,562,21,1558,83
135,CHHATTISGARH,2001,959,171,70,1763,161,840,0
...,...,...,...,...,...,...,...,...,...
8988,CHANDIGARH,2012,27,66,5,45,25,73,0
8990,D & N HAVELI,2012,3,9,0,2,0,0,0
8993,DAMAN & DIU,2012,5,0,0,0,0,3,0
9013,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9016,PUDUCHERRY,2012,13,16,0,9,2,6,0

In [110]:
M_df_5.columns

Index(['STATE/UT', 'Year', 'Rape', 'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [111]:
crime_cols = ['Rape', 'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls']
M_df_5['TOTAL CRIMES AGAINST WOMAN'] = M_df_5[crime_cols].sum(axis=1)

In [112]:
M_df_5

,STATE/UT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,TOTAL CRIMES AGAINST WOMAN
28,ANDHRA PRADESH,2001,871,765,420,3544,2271,5791,7,13669
42,ARUNACHAL PRADESH,2001,33,55,0,78,3,11,0,180
70,ASSAM,2001,817,1070,59,850,4,1248,0,4048
115,BIHAR,2001,888,518,859,562,21,1558,83,4489
135,CHHATTISGARH,2001,959,171,70,1763,161,840,0,3964
...,...,...,...,...,...,...,...,...,...,...
8988,CHANDIGARH,2012,27,66,5,45,25,73,0,241
8990,D & N HAVELI,2012,3,9,0,2,0,0,0,14
8993,DAMAN & DIU,2012,5,0,0,0,0,3,0,8
9013,LAKSHADWEEP,2012,0,0,0,1,0,1,0,2
9016,PUDUCHERRY,2012,13,16,0,9,2,6,0,46

In [113]:
M_df_5 = M_df_5[['STATE/UT', 'Year','TOTAL CRIMES AGAINST WOMAN']]
M_df_5

               STATE/UT  Year  TOTAL CRIMES AGAINST WOMAN
28       ANDHRA PRADESH  2001                       13669
42    ARUNACHAL PRADESH  2001                         180
70                ASSAM  2001                        4048
115               BIHAR  2001                        4489
135        CHHATTISGARH  2001                        3964
...                 ...   ...                         ...
8988         CHANDIGARH  2012                         241
8990       D & N HAVELI  2012                          14
8993        DAMAN & DIU  2012                           8
9013        LAKSHADWEEP  2012                           2
9016         PUDUCHERRY  2012                          46

[68 rows x 3 columns]

In [114]:
reshaped_df = M_df_5.pivot_table(values='TOTAL CRIMES AGAINST WOMAN', index='STATE/UT', columns='Year', aggfunc=sum)
new_column_names = {2001: '2001 total crimes against woman', 2012: '2012 total crimes against woman'}
Modified_df_5 = reshaped_df.rename(columns=new_column_names)
Modified_df_5

Year,2001 total crimes against woman,2012 total crimes against woman
STATE/UT,,
A & N ISLANDS,34,47
ANDHRA PRADESH,13669,25167
ARUNACHAL PRADESH,180,200
ASSAM,4048,13470
BIHAR,4489,9836
CHANDIGARH,146,241
CHHATTISGARH,3964,4208
D & N HAVELI,19,14
DAMAN & DIU,7,8
GOA,55,160
GUJARAT,5744,9517
HARYANA,3372,5922
HIMACHAL PRADESH,880,906
JAMMU & KASHMIR,1646,3322
JHARKHAND,1851,3458
KARNATAKA,4285,8703
KERALA,5270,10714
LAKSHADWEEP,0,2
MADHYA PRADESH,14504,16718
MAHARASHTRA,12255,15952
MANIPUR,108,289
MEGHALAYA,66,248
MIZORAM,124,199
NAGALAND,29,47
ODISHA,4897,10476
PUDUCHERRY,78,46
PUNJAB,2328,3151
RAJASTHAN,12057,20906
SIKKIM,24,68
TAMIL NADU,4835,6381
TRIPURA,438,1559
UTTAR PRADESH,19858,23033
UTTARAKHAND,744,1055
WEST BENGAL,6533,30585

In [115]:
Modified_df_5['Population of 2001'] = population_of_2001_state
Modified_df_5['Population of 2012'] = population_of_2012_state
Modified_df_5['Literacy rate of 2001'] = literacy_rate_2001_state
Modified_df_5['Literacy rate of 2012'] = literacy_rate_2012_state
Modified_df_5['Female literacy rate of 2001'] = Female_literacy_rate_2001
Modified_df_5['Female literacy rate of 2012'] = Female_literacy_rate_2012
Modified_df_5['Poverty rate of 2001'] = Poverty_rate_2001_state
Modified_df_5['Poverty rate of 2012'] = Poverty_rate_2012_state

In [116]:
Modified_df_5

Year,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012
STATE/UT,,,,,,,,,,
A & N ISLANDS,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57
ANDHRA PRADESH,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20
ARUNACHAL PRADESH,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70
ASSAM,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98
BIHAR,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70
CHANDIGARH,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81
CHHATTISGARH,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93
D & N HAVELI,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14
DAMAN & DIU,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09
GOA,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09
GUJARAT,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60
HARYANA,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20
HIMACHAL PRADESH,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10
JAMMU & KASHMIR,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30
JHARKHAND,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00
KARNATAKA,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90
KERALA,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10
LAKSHADWEEP,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77
MADHYA PRADESH,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60
MAHARASHTRA,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40
MANIPUR,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90
MEGHALAYA,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90
MIZORAM,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40
NAGALAND,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90
ODISHA,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60
PUDUCHERRY,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00
PUNJAB,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30
RAJASTHAN,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70
SIKKIM,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20
TAMIL NADU,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30
TRIPURA,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00
UTTAR PRADESH,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40
UTTARAKHAND,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30
WEST BENGAL,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00

In [117]:
Modified_df_5['Growth/Decrease in Population(%)'] = np.where(Modified_df_5['Population of 2001'] == 0, 0, 
                                                     round(((Modified_df_5['Population of 2012'] - Modified_df_5['Population of 2001']) / Modified_df_5['Population of 2001']) * 100, 2))

Modified_df_5['Growth/Decrease in Literacy rate(%)'] = np.where(Modified_df_5['Literacy rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_5['Literacy rate of 2012'] - Modified_df_5['Literacy rate of 2001']) / Modified_df_5['Literacy rate of 2001']) * 100, 2))

Modified_df_5['Growth/Decrease in Female literacy rate(%)'] = np.where(Modified_df_5['Female literacy rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_5['Female literacy rate of 2012'] - Modified_df_5['Female literacy rate of 2001']) / Modified_df_5['Female literacy rate of 2001']) * 100, 2))


Modified_df_5['Growth/Decrease in Pverty rate(%)'] = np.where(Modified_df_5['Poverty rate of 2001'] == 0, 0, 
                                                     round(((Modified_df_5['Poverty rate of 2012'] - Modified_df_5['Poverty rate of 2001']) / Modified_df_5['Poverty rate of 2001']) * 100, 2))

In [118]:
Modified_df_5

Year,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Female literacy rate(%),Growth/Decrease in Pverty rate(%)
STATE/UT,,,,,,,,,,,,,,
A & N ISLANDS,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57,7.03,6.52,14.70,336.11
ANDHRA PRADESH,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20,11.55,11.96,32.86,119.57
ARUNACHAL PRADESH,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70,27.78,23.39,-3.14,53.54
ASSAM,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98,16.93,15.80,21.35,-9.46
BIHAR,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70,25.07,35.74,59.58,-20.89
CHANDIGARH,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81,10.48,5.49,0.85,336.20
CHHATTISGARH,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93,22.59,9.74,14.96,-0.67
D & N HAVELI,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14,58.74,34.90,62.71,0.00
DAMAN & DIU,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09,23.26,11.38,21.31,-85.12
GOA,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09,8.46,6.59,127.99,-48.59
GUJARAT,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60,46.17,14.76,-15.92,-49.70
HARYANA,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20,19.90,32.30,18.32,-53.55
HIMACHAL PRADESH,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10,12.81,9.54,24.27,-64.78
JAMMU & KASHMIR,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30,23.71,23.78,34.91,-47.34
JHARKHAND,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00,22.34,26.12,42.58,-21.28
KARNATAKA,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90,15.67,13.51,19.74,-32.58
KERALA,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10,4.86,3.30,2.44,-65.87
LAKSHADWEEP,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77,7.17,6.34,9.98,73.12
MADHYA PRADESH,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60,20.30,10.83,-3.58,-9.71
MAHARASHTRA,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40,15.99,7.80,4.28,-27.50
MANIPUR,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90,18.65,13.19,27.72,-26.14
MEGHALAYA,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90,27.82,20.80,4.74,-76.20
MIZORAM,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40,22.78,3.15,3.05,-61.51
NAGALAND,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90,-0.47,20.27,24.78,11.18
ODISHA,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60,13.99,16.48,26.73,-30.86
PUDUCHERRY,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00,-30.11,6.53,-11.42,-28.16
PUNJAB,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30,13.73,10.04,11.25,-51.18
RAJASTHAN,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70,0.11,11.65,20.09,-25.94
SIKKIM,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20,12.43,19.48,32.43,-77.56
TAMIL NADU,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30,15.60,9.25,13.08,-48.64
TRIPURA,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00,14.75,19.95,0.86,-74.55
UTTAR PRADESH,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40,20.09,23.80,19.85,-26.50
UTTARAKHAND,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30,19.17,11.17,15.67,-66.76
WEST BENGAL,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00,13.93,12.39,75.28,-50.00

In [119]:
Modified_df_5['Growth/Decrease in crime against women(%)'] = np.where(Modified_df_5['2001 total crimes against woman'] == 0, 0, 
                                                     round(((Modified_df_5['2012 total crimes against woman'] - Modified_df_5['2001 total crimes against woman']) / Modified_df_5['2001 total crimes against woman']) * 100, 2))

In [120]:
Modified_df_5

Year,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Female literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in crime against women(%)
STATE/UT,,,,,,,,,,,,,,,
A & N ISLANDS,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57,7.03,6.52,14.70,336.11,38.24
ANDHRA PRADESH,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20,11.55,11.96,32.86,119.57,84.12
ARUNACHAL PRADESH,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70,27.78,23.39,-3.14,53.54,11.11
ASSAM,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98,16.93,15.80,21.35,-9.46,232.76
BIHAR,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70,25.07,35.74,59.58,-20.89,119.11
CHANDIGARH,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81,10.48,5.49,0.85,336.20,65.07
CHHATTISGARH,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93,22.59,9.74,14.96,-0.67,6.16
D & N HAVELI,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14,58.74,34.90,62.71,0.00,-26.32
DAMAN & DIU,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09,23.26,11.38,21.31,-85.12,14.29
GOA,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09,8.46,6.59,127.99,-48.59,190.91
GUJARAT,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60,46.17,14.76,-15.92,-49.70,65.69
HARYANA,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20,19.90,32.30,18.32,-53.55,75.62
HIMACHAL PRADESH,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10,12.81,9.54,24.27,-64.78,2.95
JAMMU & KASHMIR,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30,23.71,23.78,34.91,-47.34,101.82
JHARKHAND,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00,22.34,26.12,42.58,-21.28,86.82
KARNATAKA,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90,15.67,13.51,19.74,-32.58,103.10
KERALA,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10,4.86,3.30,2.44,-65.87,103.30
LAKSHADWEEP,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77,7.17,6.34,9.98,73.12,0.00
MADHYA PRADESH,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60,20.30,10.83,-3.58,-9.71,15.26
MAHARASHTRA,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40,15.99,7.80,4.28,-27.50,30.17
MANIPUR,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90,18.65,13.19,27.72,-26.14,167.59
MEGHALAYA,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90,27.82,20.80,4.74,-76.20,275.76
MIZORAM,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40,22.78,3.15,3.05,-61.51,60.48
NAGALAND,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90,-0.47,20.27,24.78,11.18,62.07
ODISHA,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60,13.99,16.48,26.73,-30.86,113.93
PUDUCHERRY,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00,-30.11,6.53,-11.42,-28.16,-41.03
PUNJAB,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30,13.73,10.04,11.25,-51.18,35.35
RAJASTHAN,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70,0.11,11.65,20.09,-25.94,73.39
SIKKIM,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20,12.43,19.48,32.43,-77.56,183.33
TAMIL NADU,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30,15.60,9.25,13.08,-48.64,31.98
TRIPURA,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00,14.75,19.95,0.86,-74.55,255.94
UTTAR PRADESH,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40,20.09,23.80,19.85,-26.50,15.99
UTTARAKHAND,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30,19.17,11.17,15.67,-66.76,41.80
WEST BENGAL,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00,13.93,12.39,75.28,-50.00,368.16

In [121]:
df = Modified_df_5.reset_index(drop=True)
df

Year,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Female literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in crime against women(%)
0,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57,7.03,6.52,14.70,336.11,38.24
1,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20,11.55,11.96,32.86,119.57,84.12
2,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70,27.78,23.39,-3.14,53.54,11.11
3,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98,16.93,15.80,21.35,-9.46,232.76
4,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70,25.07,35.74,59.58,-20.89,119.11
5,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81,10.48,5.49,0.85,336.20,65.07
6,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93,22.59,9.74,14.96,-0.67,6.16
7,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14,58.74,34.90,62.71,0.00,-26.32
8,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09,23.26,11.38,21.31,-85.12,14.29
9,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09,8.46,6.59,127.99,-48.59,190.91
10,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60,46.17,14.76,-15.92,-49.70,65.69
11,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20,19.90,32.30,18.32,-53.55,75.62
12,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10,12.81,9.54,24.27,-64.78,2.95
13,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30,23.71,23.78,34.91,-47.34,101.82
14,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00,22.34,26.12,42.58,-21.28,86.82
15,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90,15.67,13.51,19.74,-32.58,103.10
16,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10,4.86,3.30,2.44,-65.87,103.30
17,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77,7.17,6.34,9.98,73.12,0.00
18,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60,20.30,10.83,-3.58,-9.71,15.26
19,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40,15.99,7.80,4.28,-27.50,30.17
20,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90,18.65,13.19,27.72,-26.14,167.59
21,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90,27.82,20.80,4.74,-76.20,275.76
22,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40,22.78,3.15,3.05,-61.51,60.48
23,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90,-0.47,20.27,24.78,11.18,62.07
24,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60,13.99,16.48,26.73,-30.86,113.93
25,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00,-30.11,6.53,-11.42,-28.16,-41.03
26,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30,13.73,10.04,11.25,-51.18,35.35
27,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70,0.11,11.65,20.09,-25.94,73.39
28,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20,12.43,19.48,32.43,-77.56,183.33
29,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30,15.60,9.25,13.08,-48.64,31.98
30,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00,14.75,19.95,0.86,-74.55,255.94
31,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40,20.09,23.80,19.85,-26.50,15.99
32,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30,19.17,11.17,15.67,-66.76,41.80
33,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00,13.93,12.39,75.28,-50.00,368.16

In [122]:
state_name = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM','BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI','DAMAN & DIU',  'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH','JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA','LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR','MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY','PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA','UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']
df['state_name'] = state_name
df

Year,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Female literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in crime against women(%),state_name
0,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57,7.03,6.52,14.70,336.11,38.24,A & N ISLANDS
1,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20,11.55,11.96,32.86,119.57,84.12,ANDHRA PRADESH
2,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70,27.78,23.39,-3.14,53.54,11.11,ARUNACHAL PRADESH
3,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98,16.93,15.80,21.35,-9.46,232.76,ASSAM
4,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70,25.07,35.74,59.58,-20.89,119.11,BIHAR
5,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81,10.48,5.49,0.85,336.20,65.07,CHANDIGARH
6,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93,22.59,9.74,14.96,-0.67,6.16,CHHATTISGARH
7,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14,58.74,34.90,62.71,0.00,-26.32,D & N HAVELI
8,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09,23.26,11.38,21.31,-85.12,14.29,DAMAN & DIU
9,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09,8.46,6.59,127.99,-48.59,190.91,GOA
10,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60,46.17,14.76,-15.92,-49.70,65.69,GUJARAT
11,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20,19.90,32.30,18.32,-53.55,75.62,HARYANA
12,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10,12.81,9.54,24.27,-64.78,2.95,HIMACHAL PRADESH
13,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30,23.71,23.78,34.91,-47.34,101.82,JAMMU & KASHMIR
14,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00,22.34,26.12,42.58,-21.28,86.82,JHARKHAND
15,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90,15.67,13.51,19.74,-32.58,103.10,KARNATAKA
16,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10,4.86,3.30,2.44,-65.87,103.30,KERALA
17,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77,7.17,6.34,9.98,73.12,0.00,LAKSHADWEEP
18,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60,20.30,10.83,-3.58,-9.71,15.26,MADHYA PRADESH
19,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40,15.99,7.80,4.28,-27.50,30.17,MAHARASHTRA
20,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90,18.65,13.19,27.72,-26.14,167.59,MANIPUR
21,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90,27.82,20.80,4.74,-76.20,275.76,MEGHALAYA
22,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40,22.78,3.15,3.05,-61.51,60.48,MIZORAM
23,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90,-0.47,20.27,24.78,11.18,62.07,NAGALAND
24,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60,13.99,16.48,26.73,-30.86,113.93,ODISHA
25,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00,-30.11,6.53,-11.42,-28.16,-41.03,PUDUCHERRY
26,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30,13.73,10.04,11.25,-51.18,35.35,PUNJAB
27,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70,0.11,11.65,20.09,-25.94,73.39,RAJASTHAN
28,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20,12.43,19.48,32.43,-77.56,183.33,SIKKIM
29,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30,15.60,9.25,13.08,-48.64,31.98,TAMIL NADU
30,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00,14.75,19.95,0.86,-74.55,255.94,TRIPURA
31,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40,20.09,23.80,19.85,-26.50,15.99,UTTAR PRADESH
32,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30,19.17,11.17,15.67,-66.76,41.80,UTTARAKHAND
33,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00,13.93,12.39,75.28,-50.00,368.16,WEST BENGAL

In [123]:
last_col_name = df.columns[-1]  # Access the last element of the columns list

# Reorder the columns by placing the last column at the beginning
new_column_order = [last_col_name] + list(df.columns[:-1])  # Concatenate with remaining columns

df = df[new_column_order]

In [124]:
Crimes_Against_women_2001_2012 = df.copy()
Crimes_Against_women_2001_2012

Year,state_name,2001 total crimes against woman,2012 total crimes against woman,Population of 2001,Population of 2012,Literacy rate of 2001,Literacy rate of 2012,Female literacy rate of 2001,Female literacy rate of 2012,Poverty rate of 2001,Poverty rate of 2012,Growth/Decrease in Population(%),Growth/Decrease in Literacy rate(%),Growth/Decrease in Female literacy rate(%),Growth/Decrease in Pverty rate(%),Growth/Decrease in crime against women(%)
0,A & N ISLANDS,34,47,356152,381174,81.30,86.6,75.24,86.30,0.36,1.57,7.03,6.52,14.70,336.11,38.24
1,ANDHRA PRADESH,13669,25167,76200000,85000000,60.47,67.7,50.43,67.00,4.19,9.20,11.55,11.96,32.86,119.57,84.12
2,ARUNACHAL PRADESH,180,200,1098000,1403000,54.30,67.0,59.57,57.70,22.60,34.70,27.78,23.39,-3.14,53.54,11.11
3,ASSAM,4048,13470,26655528,31169272,63.30,73.3,54.61,66.27,35.32,31.98,16.93,15.80,21.35,-9.46,232.76
4,BIHAR,4489,9836,82998509,103804637,47.00,63.8,33.57,53.57,42.60,33.70,25.07,35.74,59.58,-20.89,119.11
5,CHANDIGARH,146,241,900635,995000,81.90,86.4,81.19,81.88,5.00,21.81,10.48,5.49,0.85,336.20,65.07
6,CHHATTISGARH,3964,4208,20833803,25540196,64.70,71.0,52.40,60.24,40.20,39.93,22.59,9.74,14.96,-0.67,6.16
7,D & N HAVELI,19,14,220490,350000,57.60,77.7,40.23,65.46,17.14,17.14,58.74,34.90,62.71,0.00,-26.32
8,DAMAN & DIU,7,8,158204,195000,78.20,87.1,65.61,79.59,34.20,5.09,23.26,11.38,21.31,-85.12,14.29
9,GOA,55,160,1343998,1457723,82.00,87.4,33.12,75.51,9.90,5.09,8.46,6.59,127.99,-48.59,190.91
10,GUJARAT,5744,9517,41310000,60383628,69.10,79.3,57.80,48.60,33.00,16.60,46.17,14.76,-15.92,-49.70,65.69
11,HARYANA,3372,5922,21144564,25353081,57.90,76.6,55.73,65.94,24.11,11.20,19.90,32.30,18.32,-53.55,75.62
12,HIMACHAL PRADESH,880,906,6077900,6856509,76.50,83.8,67.42,83.78,23.00,8.10,12.81,9.54,24.27,-64.78,2.95
13,JAMMU & KASHMIR,1646,3322,10143700,12548926,55.50,68.7,43.00,58.01,19.56,10.30,23.71,23.78,34.91,-47.34,101.82
14,JHARKHAND,1851,3458,26945829,32966238,53.60,67.6,38.87,55.42,47.00,37.00,22.34,26.12,42.58,-21.28,86.82
15,KARNATAKA,4285,8703,52850562,61130704,66.60,75.6,56.90,68.13,31.00,20.90,15.67,13.51,19.74,-32.58,103.10
16,KERALA,5270,10714,31841374,33387677,90.90,93.9,87.86,90.00,20.80,7.10,4.86,3.30,2.44,-65.87,103.30
17,LAKSHADWEEP,0,2,60650,65000,86.70,92.2,80.47,88.50,1.60,2.77,7.17,6.34,9.98,73.12,0.00
18,MADHYA PRADESH,14504,16718,60348203,72597565,63.70,70.6,50.29,48.49,35.00,31.60,20.30,10.83,-3.58,-9.71,15.26
19,MAHARASHTRA,12255,15952,96878627,112372972,76.90,82.9,67.00,69.87,24.00,17.40,15.99,7.80,4.28,-27.50,30.17
20,MANIPUR,108,289,2293896,2721756,70.50,79.8,57.29,73.17,49.96,36.90,18.65,13.19,27.72,-26.14,167.59
21,MEGHALAYA,66,248,2318822,2964007,62.50,75.5,62.50,65.46,50.00,11.90,27.82,20.80,4.74,-76.20,275.76
22,MIZORAM,124,199,888573,1091014,88.80,91.6,86.75,89.40,53.00,20.40,22.78,3.15,3.05,-61.51,60.48
23,NAGALAND,29,47,1990036,1980602,66.60,80.1,61.46,76.69,17.00,18.90,-0.47,20.27,24.78,11.18,62.07
24,ODISHA,4897,10476,36800000,41947358,63.10,73.5,50.51,64.01,47.15,32.60,13.99,16.48,26.73,-30.86,113.93
25,PUDUCHERRY,78,46,974345,681000,81.20,86.5,73.90,65.46,20.88,15.00,-30.11,6.53,-11.42,-28.16,-41.03
26,PUNJAB,2328,3151,24358999,27704236,69.70,76.7,63.55,70.70,17.00,8.30,13.73,10.04,11.25,-51.18,35.35
27,RAJASTHAN,12057,20906,68548437,68621012,60.10,67.1,43.85,52.66,19.85,14.70,0.11,11.65,20.09,-25.94,73.39
28,SIKKIM,24,68,540493,607688,68.80,82.2,60.41,80.00,36.55,8.20,12.43,19.48,32.43,-77.56,183.33
29,TAMIL NADU,4835,6381,62405679,72138958,73.50,80.3,64.91,73.40,22.00,11.30,15.60,9.25,13.08,-48.64,31.98
30,TRIPURA,438,1559,3199203,3671037,73.20,87.8,64.90,65.46,55.00,14.00,14.75,19.95,0.86,-74.55,255.94
31,UTTAR PRADESH,19858,23033,166197921,199581477,56.30,69.7,42.22,50.60,40.00,29.40,20.09,23.80,19.85,-26.50,15.99
32,UTTARAKHAND,744,1055,8489349,10116752,71.60,79.6,60.00,69.40,34.00,11.30,19.17,11.17,15.67,-66.76,41.80
33,WEST BENGAL,6533,30585,80176192,91347736,68.60,77.1,54.20,95.00,40.00,20.00,13.93,12.39,75.28,-50.00,368.16

In [125]:
filename = 'Crimes_Against_women_2001_2012.csv'
Crimes_Against_women_2001_2012.to_csv(filename, index = False)